{% extends "base.html" %}
{% load i18n %}

{% block notify %}class="active"{% endblock %}

{% block title %}{% trans "Send Mail" %}{% endblock %}

{% block crumbs %}
<li>
	<a href="{% url user-instances %}">{% trans "Home" %}</a>
	<span class="divider">/</span>
</li>
<li class="active">{% trans "Send Mail" %}</li>
{% endblock %}

{% block extrahead %}
	{% include "notifications/create_script.html" %}
{% endblock %}

{% block content %}
	{% include "notifications/create_body.html" %}
{% endblock %}

