gevent==0.13.6
django==1.8
# get master branch of django registration redux until a correct tag is released
-e git+git://github.com/macropin/django-registration.git#egg=django-registration-redux
paramiko==1.12.1
python-daemon==1.5.5
setproctitle==1.0.1
pycurl==7.19.0
recaptcha-client==1.0.6
ipaddr==2.1.10
beautifulsoup4==4.1.0
requests==2.7.0
requests-oauthlib==0.5.0
requests-toolbelt==0.4.0
Markdown==2.6.2
django-markdown==0.6.1

# Optional requirements
django-cors-headers==1.1.0
django-oauth-toolkit==0.10.0
