from django.conf.urls.defaults import *
from ganetimgr.ganeti.models import *
from django.conf import settings
# Uncomment the next two lines to enable the admin:
from django.contrib import admin

from accounts.forms import RegistrationForm

admin.autodiscover()

urlpatterns = patterns('',
    (r'^setlang/?$', 'django.views.i18n.set_language'),
    url(r'^/?$', 'ganetimgr.ganeti.views.user_index', name="user-instances"),
    url(r'^instances_json/?$', 'ganetimgr.ganeti.views.user_index_json', name="user-instances-json"),
    url(r'^instances_stats_json/?$', 'ganetimgr.ganeti.views.user_sum_stats', name="user-stats-json"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/poll/?$', 'ganetimgr.ganeti.views.poll', name="instance-poll"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/vnc/?$', 'ganetimgr.ganeti.views.vnc', name="instance-vnc"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/shutdown/?$', 'ganetimgr.ganeti.views.shutdown', name="instance-shutdown"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/startup/?$', 'ganetimgr.ganeti.views.startup', name="instance-startup"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/reboot/?$', 'ganetimgr.ganeti.views.reboot', name="instance-reboot"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/reinstalldestroy/(?P<action_id>\d+)/(?P<action_value>[^/]+)?$', 'ganetimgr.ganeti.views.reinstalldestroy', name="instance-reinstall-destroy"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/rename/(?P<action_id>\d+)(/(?P<action_value>[^/]+))?$', 'ganetimgr.ganeti.views.rename_instance', name="instance-rename"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/?', 'ganetimgr.ganeti.views.instance', name="instance-detail"),
    url(r'^cluster/popup/?', 'ganetimgr.ganeti.views.instance_popup', name="instance-popup"),
    url(r'^cluster/nodes/?', 'ganetimgr.ganeti.views.get_clusternodes', name="cluster-nodes"),
    url(r'^apply/?$', 'ganetimgr.apply.views.apply', name="apply"),
    url(r'^application/?$', 'ganetimgr.apply.views.application_list', name="application-list"),
    url(r'^application/(?P<application_id>\d+)/review', 'ganetimgr.apply.views.review_application', name="application-review"),
    url(r'^application/(?P<application_id>\d+)/(?P<cookie>\w+)/ssh_keys', 'ganetimgr.apply.views.instance_ssh_keys', name="instance-ssh-keys"),
    url(r'^user/info/(?P<type>\w+)/(?P<usergroup>[\w-]+)/?$', 'ganetimgr.ganeti.views.user_info', name="user-info"),
    url(r'^user/idle/?$', 'ganetimgr.ganeti.views.idle_accounts', name="idle_accounts"),
    url(r'^user/profile/?$', 'ganetimgr.apply.views.profile', name="profile"),
    url(r'^user/mail_change/?$', 'ganetimgr.apply.views.mail_change', name="mail-change"),
    url(r'^user/name_change/?$', 'ganetimgr.apply.views.name_change', name="name-change"),
    url(r'^user/keys/?$', 'ganetimgr.apply.views.user_keys', name="user-keys"),
    url(r'^user/keys/delete/(?P<key_id>\d+)?$', 'ganetimgr.apply.views.delete_key', name="delete-key"),
    url(r'^user/login/?', 'django.contrib.auth.views.login', {'template_name': 'login.html'}, name="login"),
    url(r'^user/logout/?', 'django.contrib.auth.views.logout', {'next_page': '/'}, name="logout"),
    url(r'^user/pass_change/$', 'django.contrib.auth.views.password_change', {'template_name':'pass_change.html', 'post_change_redirect':'done'}, name="pass_change"),
    url(r'^user/pass_change/done/$',  'django.contrib.auth.views.password_change_done', {'template_name':'pass_change_done.html'}, name="pass_change_done" ),
    url(r'^user/pass_change/notify/$', 'ganetimgr.apply.views.pass_notify', name="pass_change_notify"),
    url(r'^apply/?$', 'ganetimgr.apply.views.apply', name="apply"),
    
    url(r'^accounts/activate/(?P<activation_key>\w+)/$', 'accounts.views.activate', name='activate_account'),
    url(r'^accounts/register/$','registration.views.register', {'backend':'regbackends.ganetimgr.GanetimgrBackend', 'form_class': RegistrationForm},
							        name='registration.views.register'),
    (r'^accounts/', include('registration.backends.default.urls')),
    
    url(r'^notify/(?P<instance>[^/]+)?$', 'ganetimgr.notifications.views.notify', name="notify"),
    url(r'^lock/(?P<instance>[^/]+)?$', 'ganetimgr.ganeti.views.lock', {'action':'lock'}, name="lock"),
    url(r'^unlock/(?P<instance>[^/]+)?$', 'ganetimgr.ganeti.views.lock',  {'action':'unlock'}, name="unlock"),
    url(r'^usergrps/?$', 'ganetimgr.notifications.views.get_user_group_list', name="usergroups"),
    
    url(r'^tags/(?P<instance>[^/]+)?$', 'ganetimgr.ganeti.views.tagInstance', name="instance-tags"),
    url(r'^tagusergrps/?$', 'ganetimgr.ganeti.views.get_user_groups', name="tagusergroups"),
    
    
    url(r'^stats_ajax/applications/?', 'ganetimgr.ganeti.views.stats_ajax_applications', name="stats_ajax_apps"),
    url(r'^stats_ajax/instances/?', 'ganetimgr.ganeti.views.stats_ajax_instances', name="stats_ajax_instances"),
    url(r'^stats_ajax/vms_cluster/(?P<cluster_slug>\w+)/?', 'ganetimgr.ganeti.views.stats_ajax_vms_per_cluster', name="stats_ajax_vms_pc"),
    url(r'^stats/instance_owners/?$', 'ganetimgr.stats.views.instance_owners', name="instance_owners"),
    url(r'^stats/?', 'ganetimgr.ganeti.views.stats', name="stats"),
    url(r'^graph/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/(?P<graph_type>[^/]+)(/(?P<start>[\\:\w\d\s\.+-]+),(?P<end>[\\:\w\d\s\.+-]+))?$', 'ganetimgr.ganeti.views.graph', name='graph'),
    url(r'^instance/destreinst/(?P<application_hash>\w+)/(?P<action_id>\d+)/$', 'ganetimgr.ganeti.views.reinstalldestreview', name='reinstall-destroy-review'),
    # Uncomment the admin/doc line below and add 'django.contrib.admindocs' 
    # to INSTALLED_APPS to enable admin documentation:
    (r'^admin/doc/', include('django.contrib.admindocs.urls')),

    (r'^admin/', include(admin.site.urls)),
)
if settings.DEBUG:
    urlpatterns += patterns('',
        (r'^static/(?P<path>.*)', 'django.views.static.serve',\
            {'document_root':  settings.STATIC_URL}),
    )
