from django.conf.urls.defaults import *
from ganetimgr.ganeti.models import *
from django.conf import settings
# Uncomment the next two lines to enable the admin:
from django.contrib import admin

from ganetimgr.registration.views import register
from recap.forms import RecaptchaRegistrationForm

admin.autodiscover()

urlpatterns = patterns('',
    url(r'^/?$', 'ganetimgr.ganeti.views.user_index', name="user-instances"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/poll/?$', 'ganetimgr.ganeti.views.poll', name="instance-poll"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/vnc/?$', 'ganetimgr.ganeti.views.vnc', name="instance-vnc"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/shutdown/?$', 'ganetimgr.ganeti.views.shutdown', name="instance-shutdown"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/startup/?$', 'ganetimgr.ganeti.views.startup', name="instance-startup"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/reboot/?$', 'ganetimgr.ganeti.views.reboot', name="instance-reboot"),
    url(r'^cluster/(?P<cluster_slug>\w+)/(?P<instance>[^/]+)/?', 'ganetimgr.ganeti.views.instance', name="instance-detail"),
    url(r'^apply/?$', 'ganetimgr.apply.views.apply', name="apply"),
    url(r'^application/?$', 'ganetimgr.apply.views.application_list', name="application-list"),
    url(r'^application/(?P<application_id>\d+)/review', 'ganetimgr.apply.views.review_application', name="application-review"),
    url(r'^application/(?P<application_id>\d+)/(?P<cookie>\w+)/ssh_keys', 'ganetimgr.apply.views.instance_ssh_keys', name="instance-ssh-keys"),
    url(r'^user/profile/?$', 'ganetimgr.apply.views.profile', name="profile"),
    url(r'^user/mail_change/?$', 'ganetimgr.apply.views.mail_change', name="mail-change"),
    url(r'^user/keys/?$', 'ganetimgr.apply.views.user_keys', name="user-keys"),
    url(r'^user/keys/delete/(?P<key_id>\d+)?$', 'ganetimgr.apply.views.delete_key', name="delete-key"),
    url(r'^user/login/?', 'django.contrib.auth.views.login', {'template_name': 'login.html'}, name="login"),
    url(r'^user/logout/?', 'django.contrib.auth.views.logout', {'next_page': '/'}, name="logout"),
    url(r'^user/pass_change/$', 'django.contrib.auth.views.password_change', {'template_name':'pass_change.html', 'post_change_redirect':'done'}, name="pass_change"),
    url(r'^user/pass_change/done/$',  'django.contrib.auth.views.password_change_done', {'template_name':'pass_change_done.html'}, name="pass_change_done" ),
    url(r'^apply/?$', 'ganetimgr.apply.views.apply', name="apply"),
    (r'^setlang/?$', 'django.views.i18n.set_language'),
    
    url(r'^accounts/register/$','ganetimgr.registration.views.register', {'form_class': RecaptchaRegistrationForm, 
                                                                          'backend':'ganetimgr.registration.backends.default.DefaultBackend'}, 
                                                                          name='registration.views.register'),
    (r'^accounts/', include('ganetimgr.registration.urls')),
    # Uncomment the admin/doc line below and add 'django.contrib.admindocs' 
    # to INSTALLED_APPS to enable admin documentation:
    (r'^admin/doc/', include('django.contrib.admindocs.urls')),

    # Uncomment the next line to enable the admin:
    (r'^admin/(.*)', admin.site.root),
)
if settings.DEBUG:
    urlpatterns += patterns('',
        (r'^static/(?P<path>.*)', 'django.views.static.serve',\
            {'document_root':  settings.STATIC_URL}),
    )
