{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Activation Complete" %}{% endblock %}
{% block brcrmb_container %}{% endblock %}
{% block blockcontainer %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4 sidebar">
					<div class="widget">
						<div class="row-fluid">
							<h2>
								<i class="fa fa-check"></i> {% trans "Activation Status" %}
							</h2>
							<div class="padwidget">
                <div class="alert alert-success">
                  <p>{% trans "Account"%} {{account}} {% trans "succesfully activated" %}</p>
                  <p>{% trans "Your account will be approved by an administrator and you will be notified via email"%}</p>
                </div>
							</div>
						</div>
					</div>
				</div>
				<div class="span4"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
