{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Admin approval Complete" %}{% endblock %}
{% block brcrmb_container %}{% endblock %}

{% block blockcontainer %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4 sidebar">
					<div class="widget">
						<div class="row-fluid">
							<h2>
								<i class="fa fa-check"></i> {% trans "Approval Complete" %}
							</h2>
							<div class="padwidget">
							     <div class="alert alert-success"><p>{% trans "The user will be notified about his/her account approval" %}</p></div>
							</div>
						</div>
					</div>
				</div>
				<div class="span4"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
