{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Admin approval status" %}{% endblock %}
{% block brcrmb_container %}{% endblock %}
{% block blockcontainer %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4 sidebar">
					<div class="widget">
						<div class="row-fluid">
							<h2>
								<i class="fa fa-check"></i> {% trans "Approval Status" %}
							</h2>
							<div class="padwidget">
								{% if account %}
								    <div class="alert alert-success"><p>{{account}} {% trans "is successfully approved" %}</p></div>
								{% else %}
								    <div class="alert alert-error"><p>{% trans "The user has probably been already approved." %}</p></div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="span4"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
