{% extends "base.html" %} {% load i18n %} {% block title %}
{% trans "Reset Password" %}{% endblock %} {% block brcrmb_container %}{% endblock %}
{% load widget_tweaks %}
{% block blockcontainer %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4 sidebar">
					<div class="widget">
						<div class="row-fluid">
							<h2>
								<i class="icon-asterisk"></i> {% trans "Password Reset" %}
							</h2>
							<div class="padwidget">
								<form method="POST" class="form">
									{% csrf_token %}
									{% for field in form %}
										<div class="control-group {% if field.errors %}error{% endif %}">
										   	<div class="controls">
											{% render_field field class+="input-xlarge" style+="width:95%;" placeholder=field.label|capfirst  %}
											{% if field.errors %}
												<span class="help-block"> {{ field.errors|join:", " }} </span>
											{% endif %}
										</div>
									</div>
									{% endfor %}
									<div class="control-group">
								<div class="controls">
								<input class="btn" type="submit" value="{% trans " Reset" %}" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="span4"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
