{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset Password" %}{% endblock %}
{% block brcrmb_container %}{% endblock %}
{% block content %}

{% if validlink %}
<div id="passwordreset2" align="center">
    <h3>{% trans "Reset Password" %}</h3>
        <form method="post">
        	{% csrf_token %}
        	<table>
            {{ form.as_table }}
			</table>
            <input class="submit" type="submit" value="{% trans "Submit" %}" />
        </form>
</div>
{% else %}
<h3>{% trans "Error" %}</h3>
<p>{% trans "There was an error processing your password change request." %}</p>
{% endif %}

{% endblock %}
