{% extends "theme/base.html" %} {% load i18n %}
{% block title %}{% trans "Reset Password" %}{% endblock %}
{% block brcrmb_container %}{% endblock %}
{% block blockcontainer %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4 sidebar">
					<div class="widget">
						<div class="row-fluid">
							<h2>
								<i class="icon-asterisk"></i> {% trans "Password Reset" %}
							</h2>
							<div class="padwidget">
								{% if validlink %}
									    <form method="post">
									{% csrf_token %}
									{% if form.non_field_errors %}
                                        <div class="alert alert-error">
                                            {{ form.non_field_errors|join:", "}}
                                        </div>
                                        {% endif %}
										{% for field in form %}
										<div class="control-group {% if field.errors %}error{% endif %}">
							                <label class="control-label {% if  field.field.required %}required{% endif %}" for="id_applier">
							                	{% trans field.label|capfirst %}
							                </label>
						                   <div class="controls">{{ field }}
						                    {% if field.errors %}
						                    <span class="help-inline" style="clear:both;">
						                        {{ field.errors|join:", " }}
						                    </span>
						                    {% endif %}
						                    </div>
						                    <span class="help-block"> {{ field.help_text }}</span>
						                </div>
										{% endfor %}
									<input class="btn" type="submit" value="{% trans " Reset" %}" />
								</form>
									{% else %}
									<div class="alert alert-error"><p>{% trans "There was an error processing your password change request." %}</p></div>
									{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="span4"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
