{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Password Reset Complete" %}{% endblock %}
{% block brcrmb_container %}{% endblock %}

{% block blockcontainer %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4 sidebar">
					<div class="widget">
						<div class="row-fluid">
							<h2>
								<i class="fa fa-envelope"></i> {% trans "Password Reset Complete" %}
							</h2>
							<div class="padwidget">
								<div class="alert alert-success">
									<p>{% trans "Your password was successfully reset. You may login" %} <a href="{% url 'login' %}">{% trans "here" %}</a>.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span4"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
