{% extends "theme/base.html" %}
{% load i18n %}
{% block title %}{% trans "Register" %}{% endblock %}
{% block brcrmb_container %}{% endblock %}

{% block blockcontainer %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4 sidebar">
					<div class="widget">
						<div class="row-fluid">
							<h2>
								<i class="icon-envelope"></i> {% trans "Registration Email Sent" %}
							</h2>
							<div class="padwidget">
								<div class="alert alert-success">
									<p>{% trans "An email has been sent to the system administrator. You will be soon notified about the activation of your account." %}</p>
   									<p>{% trans "Back to" %} <a href="{% url login %}">{% trans "login" %}</a> {% trans "page" %}.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span4"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}