{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Register" %}{% endblock %}
{% block brcrmb_container %}{% endblock %}

{% block blockcontainer %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4 sidebar">
					<div class="widget">
						<div class="row-fluid">
							<h2>
								<i class="fa fa-envelope"></i> {% trans "Registration Email Sent" %}
							</h2>
							<div class="padwidget">
								<div class="alert alert-warning">
									<p>{% trans "An e-mail has been sent to the address you specified during registration" %}</p>
									<p>{% trans "To proceed with your registration follow the instructions provided in the e-mail" %}</p> 
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span4"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
