{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Activation Expired" %}{% endblock %}
{% block brcrmb_container %}{% endblock %}

{% block blockcontainer %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4 sidebar">
					<div class="widget">
						<div class="row-fluid">
							<h2>
								<i class="fa fa-check"></i> {% trans "Activation Expired" %}
							</h2>
							<div class="padwidget">
						     	<div class="alert alert-danger">
						     		<p>{% trans "Seems that you failed to activate your account within your given time limit." %}</p>
						     		<p>{% trans "Your account has been deleted. You need to register again." %}</p>
					     		</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span4"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
