{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Validation Complete" %}{% endblock %}
{% block brcrmb_container %}{% endblock %}
{% block blockcontainer %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4 sidebar">
					<div class="widget">
						<div class="row-fluid">
							<h2>
								<i class="fa fa-check"></i> {% trans "Activation Status" %}
							</h2>
							<div class="padwidget">
								{% if account %}
								    <div class="alert alert-success">
								    <p>{% trans "E-mail address for account "%}{{account}} {% trans "succesfully validated" %}</p>
								    <p>{% trans "Your account will be activated by an administrator and you will be notified via email"%}</p>
								    <p>{% trans "Back to" %} <a href="{% url login %}">{% trans "login" %}</a> {% trans "page" %}.</p>
								    </div>
								{% else %}
								    <div class="alert alert-error"><p>{% trans "The user has probably been already activated." %}</p></div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="span4"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
