* {
    font-family: arial, freesans, clean, sans-serif;
    font-size: 12px;
}

html {
    height: 100%;
    color: black;
}

#page_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 1em;
}

.errorlist li {
    color: red;
    font-size: 12px !important;
    margin: 0 0 3px;
    padding: 4px 5px 4px 25px;
	list-style: none outside none;
}

.error{
	color: red;
	font-weight: bold;
}

#password_change_form label{
	display: block;
    float: left;
    padding: 3px 10px 0 0;
    width: 13em;
}

a {
    color: #4183C4;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#main {
    background: url("../img/background_grnet.png") repeat-x scroll 0 0 #FFFFFF;
    padding: 0;
    margin: 0;
}

#header {
    height: 85px;
    margin: 0 auto;
    width: 990px;
}

.logoimg {
    border: 0 none;
    position: absolute;
    left: 0;
    top: 0;
    width: 65px;
}

#header .grnetlogo {
    left: 10px;
    top: 18px;
    position: relative;
}

.loginform {
    border-top: medium none;
    font-size: 12px;
    padding: 2px;
    float: right;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border-color: #E9E9E9 #E9E9E9 #F5F5F5;
    border-style: solid;
    border-width: 1px;
	right: 10px;
    position: relative;
    top: -20px;
}

.topmenuuser{
	padding: 4px;
}

.topmenuaction{
	padding: 4px;
	background: url("rule.png") no-repeat scroll 0 50% transparent;
}

body {
	padding-bottom: 2em;
	background: white;
	margin: 0;
}

#content {
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	background: #fafafa;
	 border: 2px solid #FFFFFF;
    -moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-box-shadow: 0 0 3px #AAAAAA;
	-webkit-box-shadow: 0 0 3px #AAAAAA;
	box-shadow: 0 0 3px #AAAAAA;
    background-color: #F9F9F9;
	overflow: hidden;
	padding-bottom: 5px;
	padding-left: 5px;
	min-height: 200px;
}

#title, #title a {
	font-size: 18px;
	font-weight: bold;
	color: #656565;
	top: 25px;
	left: 50px;
	position: relative;
	width: 300px;
}

#menu {
	height: 28px;
	padding-top: 5px;
}

#menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline;
}

#menu ul li {
	padding-left: 20px;
	display: inline;
}

#menu ul li a {
	color: white;
	text-decoration: none;
}

#menu ul li a:hover {
	font-weight: bold;
}

.conf_table ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline;
}

#footer, #footer a {
	clear: both;
	padding-top: 1em;
	font-size: 0.9em;
	text-align: center;
}

#formcontent {
	padding: 2px;
	margin-bottom: 0;
}

#formcontent a {
	color: #4183C4;
}

#formcontent input {
	width: 6em;

}


#pagelist {
	text-align: center;
	font-weight: bold;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background: white;
	padding-left: 200px;
	width: 100%;
	padding-top: 0.5em;
	border-top: 1px solid #333;
}

#pagelist a {
	text-decoration: none;
	color: gray;
}


h3 {
	font-size: 1.2em;
}

td {
	text-align: left;
}

tr.even {
	background: #eaeaea;
}

span.highlighted {
	font-weight: bold;
	color: red;
}

form.update {
	text-align: center;
	display: none;
}
form.update textarea {
	width: 100%;
}

textarea#id_comments {
	width: 80%;
}

.hidden {
	display: none;
}

.center_text {
	text-align: center;
}

#searchform {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.info_content_title {
    background-color: #F0F0F0;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #D9D9D9;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    margin: 20px 0;
    padding: 5px 0 5px 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 100%;
}

.row_container{
	background-color: white;
	clear: both;
	overflow: auto;
	width: 988px;
	border: 1px solid black;
}
.row1{
	float: left;
	width: 300px;
}
.row1_content{
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border-color: #E9E9E9 #E9E9E9 #F5F5F5;
    border-style: solid;
    border-width: 1px;
	padding: 4px;
	margin: 0 auto;
	width: 50%;
	position: relative;
	top: 20px;
}
.row2{
	float: left;
	width: 300px;
}
.row3{
	float: left;
	width: 300px;
}
.row1_table_content{
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border-color: #E9E9E9 #E9E9E9 #F5F5F5;
    border-style: solid;
    border-width: 1px;
	padding: 3px;
	margin: 0 auto;
	text-align: left;

}
.actions_table{
	background-color: #FFF0DF;
	border-collapse: collapse;
	border: 1px solid #D9D9D9;
	float: right;
	margin: 5px;
	min-width: 330px;
	width: 100%;
}
.actions_table td{
	padding: 5px;
}
.instances_table{
	border-collapse: collapse;
	float: right;
	/*
margin: 1px;
*/
}
.instances_table td{
	border: 1px solid #D9D9D9;
	padding: 5px;
}
.instances_table th{
	border: 1px solid #D9D9D9;
	padding: 5px;
}
.instance_name{
	text-align: left;
}
#title a:hover{
	text-decoration: none;
}
.table_title{
	background: url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
}
.inner_table{
	border-collapse: collapse;
	width:100%;
	height:100%;
}
.inner_table_holder{
	padding: 0px !important;
}
.table_top_header{
	background: url("smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
}
.borderless{
	border: 0 none !important;
}
.inner_category{
	width: 35%;
	background: url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
	border-left: 0 none !important;
}
.no_brd_right{
	border-right: 0 none !important;
}
.no_brd_top{
	border-top: 0 none !important;
}
.no_brd_btm{
	border-bottom: 0 none !important;
}

#fl_l{
	float: left;
	width: 42%
}
#configuration {
	width: 58%;
	float: left;
	text-align: center;
}

#configuration form  {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

#configuration th {
	text-align: right;
}

#configuration td {
	text-align: left;
}

#configuration input[type="text"] {
	width: 22em;
}
.conf_table th{
	font-weight: normal;
	background-color: #ECECEC; /* fallback color if gradients are not supported */
	background: url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
	border-bottom: 1px solid #D9D9D9;
}
.conf_table{
	float: right;
	margin: 5px;
	border: 1px solid #D9D9D9;
	border-collapse: collapse;
	width: 100%;
}
.conf_table td{
	border-bottom: 1px solid #D9D9D9;

}
.conf_table .table_topper_header{
	font-weight: bold;
	background: url("smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
}
.instance_det_table{
	border-collapse: collapse;
	clear: both;
	width: 400px;
	margin: 5px;
}
.instance_det_table td{
	border: 1px solid #D9D9D9;
	padding: 5px;
}
.instance_det_table th{
	border: 1px solid #D9D9D9;
	padding: 5px;
}



#cluster_overview_table_wrapper{
	width: 100%;
}


.paging_two_button .ui-button {
	float: left;
	cursor: pointer;
	* cursor: hand;
}

.paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	* cursor: hand;
}

.dataTables_paginate .ui-button {
	margin-right: -0.1em !important;
}

.paging_full_numbers {
	width: 350px !important;
}

.dataTables_wrapper .ui-toolbar {
	padding: 5px;
}

.dataTables_paginate {
	width: auto;
}

.dataTables_info {
	padding-top: 3px;
}

table.display thead th {
	padding: 3px 0px 3px 10px;
	cursor: pointer;
	* cursor: hand;
}

div.dataTables_wrapper .ui-widget-header {
	font-weight: normal;
}


/*
 * Sort arrow icon positioning
 */
table.display thead th div.DataTables_sort_wrapper {
	position: relative;
	padding-right: 20px;
	padding-right: 20px;
}

table.display thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}


.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	float: left;
	clear: both;
	_height: 302px;
	width: 100%;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}




table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	border-collapse: collapse;

}

table.display thead th {
	padding: 3px 18px 3px 10px;
	font-weight: normal;
	cursor: pointer;
	* cursor: hand;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td a {
	font-weight: normal;
}

table.display td.center {
	text-align: center;
}

table.display tfoot th {
	padding: 3px 0px 3px 10px;
	font-weight: bold;
	font-weight: normal;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}

table.display tr.odd.gradeA {
	background-color: #EEEEEE;
}

table.display tr.even.gradeA {
	background-color: #F6F6F6;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}


tr.odd {
	background-color: #E2E4FF;
}

tr.even {
	background-color: white;
}

.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	background-color: #EAEBFF;
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}

tr.odd.gradeA td.sorting_1 {
	background-color: #E1E1E1;
}

tr.odd.gradeA td.sorting_2 {
	background-color: #E8E8E8;
}

tr.odd.gradeA td.sorting_3 {
	background-color: #E8E8E8;
}

tr.even.gradeA td.sorting_1 {
	background-color: #EAEAEA;
}

tr.even.gradeA td.sorting_2 {
	background-color: #F0F0F0;
}

tr.even.gradeA td.sorting_3 {
	background-color: #F0F0F0;
}

tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}

tr.odd.gradeC td.sorting_3 {
	background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}

tr.even.gradeC td.sorting_3 {
	background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}

tr.odd.gradeX td.sorting_3 {
	background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}

tr.even.gradeX td.sorting_3 {
	background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}

tr.odd.gradeU td.sorting_3 {
	background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}

tr.even.gradeU td.sorting_3 {
	background-color: #e2e2e2;
}

.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.ex_highlight_row #example tr.even:hover {
	background-color: #ECFFB3;
}

.ex_highlight_row #example tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.ex_highlight_row #example tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.ex_highlight_row #example tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.ex_highlight_row #example tr.odd:hover {
	background-color: #E6FF99;
}

.ex_highlight_row #example tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.ex_highlight_row #example tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.ex_highlight_row #example tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}

table.KeyTable td {
	border: 3px solid transparent;
}

table.KeyTable td.focus {
	border: 3px solid #3366FF;
}

table.display tr.gradeA {
	background-color: #eeffee;
}

table.display tr.gradeC {
	background-color: #ddddff;
}

table.display tr.gradeX {
	background-color: #ffdddd;
}

table.display tr.gradeU {
	background-color: #ddd;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}

#messages {
	position: relative;
	top: -21px;
	text-align: center;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	background-color: #d5ffd5;
	border-top: 1px solid #a5afa5;
	border-bottom: 1px solid #a5afa5;
}

#welcome {
	float: left;
	padding: 0.5em;
	width: 45%;
}

#loginform {
	margin-left: 50%;
	text-align: center;
	border-left: 1px solid #aaa;
}

#loginform table {
	margin-left: auto;
	margin-right: auto;
}
