{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Graphs" %}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'ganetimgr/css/includes/select2.css' %}">
<script type="text/javascript" src="{% static 'ganetimgr/js/includes/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ganetimgr/js/includes/daterangepicker.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'ganetimgr/css/includes/daterangepicker.css' %}">
{% endblock %}

{% block nodegraphs %}class="active"{% endblock %}

{% block crumbs %}
<li>
	<a href="{% url 'user-instances' %}">{% trans "Home" %}</a><span class="divider">/</span></li>
<li class="active">{% trans "Graphs" %}</li>
{% endblock %}

{% block content %}
<div class="span10 main-content">
	<div class="span12">
		<form action="" method="post">
			{% csrf_token %}
			<div class="span12">
				{% for field in form %}
				   <div class="span5">
						{{ field.label_tag }}
						{{ field }}
						{{ field.errors }}
					</div>
				{% endfor %}
			</div>
			<div class="span12 row-fluid margin-top20">
				<input class="btn btn-primary" type="submit" value="{% trans 'Get Graphs' %}">
			</div>
		</form>
	</div>
	{% if results %}
	<div class="span5 margin-top20">
		<label for="">Date Range</label>
		<div id="reportrange" class="pull-left btn">
			<i class="fa fa-calendar fa-lg"></i>
			<span></span><b class="caret"></b>
		</div>
	</div>
	<div class="span12">
		{% regroup results|dictsort:"node" by node as node_list %}
		{% for node in node_list %}
			<div class="span12"></div>
			<h4 class="span12">
			  <a href="{% url 'cluster-get-nodes-graphs' node.list.0.cluster %}?nodes={{ node.grouper }}">Graphs for {{ node.grouper }}</a>
			</h4>
			<div class="collapse-toggle span12">
			  <div class="label">Collapse</div>
			  <div class="node-view">
				{% for instance in node.list %}
					<div class="span10"></div>

					<div class="instance span10">
						<h2>{{ instance.name }}</h2>
						<div class="span5">
							<h4>Cpu</h4>
							<div class="graph">
								<img src="{{ instance.cpu }}" data-src="{{ instance.cpu }}"  alt="cpu">
							</div>
						</div>
						<div class="span6">
							<h4>Network</h4>
							<div class="graph">
								{% for n in instance.network %}
									<img src="{{ n }}"  data-src="{{ n }}" alt="network">
								{% endfor %}
							</div>
						</div>
					</div>
				{% endfor %}
			  </div>
			</div>
		{% endfor %}
	</div>
	{% endif%}
</div>
{% endblock %}

{% block postfooter %}
<script src="{% static 'ganetimgr/js/includes/select2.js' %}"></script>
<script>
	$(document).ready( function(){
		var $cluster = $('#id_cluster');
		var $node = $('#id_nodes');
		var currentNodes = $node.val().split(',');
		$cluster.select2();
		var cluster = $cluster.select2('data').id;
		var availabeNodeChoices;

		$node.select2({
			placeholder: 'All nodes',
			multiple: true,
			data: function() {
				return {results: availabeNodeChoices};
			},
			initSelection: getNodesForCluster(cluster)
		});


		function getNodesForCluster (cluster) {
			console.log(cluster);
			$.getJSON('{% url 'cluster-nodes-json' %}' + cluster + '/', function(data) {
				var options = ''
				availabeNodeChoices = [];
				var setCurrent = [];
				for (node in data['aaData']) {
					for (var i=0; currentNodes.length > i; i++) {
					  if (currentNodes[i] === data['aaData'][node].name) {
						setCurrent.push(currentNodes[i]);
					  }
					}
					availabeNodeChoices.push(
						{
							'id': data['aaData'][node].name,
							'text': data['aaData'][node].name
						}
					);
				}
				if (setCurrent) {
					$node.select2('val', setCurrent);
				} else {
					$node.select2('val', '');
				}
			});
		}

		$cluster.on('change', function(e) {
			cluster = $(this).select2('data').id;
			getNodesForCluster(cluster);
		});

		var utc_end = Math.round((new Date()).getTime() / 1000);
		$('#reportrange').daterangepicker({
			   ranges: {
				  'Today': [new Date(), new Date()],
				  'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
				  'Last 7 Days': [moment().subtract('days', 6), new Date()],
				  'Last 30 Days': [moment().subtract('days', 29), new Date()],
				  'This Month': [moment().startOf('month'), moment().endOf('month')],
				  'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
			   },
			   opens: 'left',
			   format: 'DD/MM/YYYY',
			   separator: ' to ',
			   startDate: moment().subtract('days', 29),
			   endDate: new Date(),
			   minDate: moment().subtract('days', 900),
			   maxDate: new Date(),
			   locale: {
				   applyLabel: 'Submit',
				   fromLabel: 'From',
				   toLabel: 'To',
				   customRangeLabel: 'Custom Range',
				   daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
				   monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
				   firstDay: 1
			   },
			   showWeekNumbers: true,
			   buttonClasses: ['btn-danger'],
			   dateLimit: false
			}, function(start, end) {
				$('#reportrange span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
				var start_date = Math.round((start.toDate()).getTime() / 1000);
				var end_date = Math.round((end.toDate()).getTime() / 1000);
				if (end_date > utc_end) {
				   end_date = utc_end;
				}
				$('.graph').each(function(){
					var img = $(this).find('img');
					imgsrc = img.data('src');
					imgsrcArr = imgsrc.split('/');
					if (imgsrcArr[imgsrcArr.length-1].match(/eth\d+/g)){
						eth = imgsrcArr.pop();
						imgsrc = imgsrcArr.join('/') + '/' + start_date + ',' + end_date + '/' + eth;
						$(this).attr('src', imgsrc);
					} else {
						imgsrc = img.data('src') + '/' + start_date + ',' + end_date;
					}
					img.attr('src', imgsrc);
				});
			}
		 );
		 //Set the initial state of the picker label
		 $('#reportrange span').html(moment().subtract('days', 1).format('D MMMM, YYYY') + ' - ' + moment().format('D MMMM, YYYY'));

		 $('.collapse-toggle').on('click', function () {
		  if ($(this).find('.label').text() === 'Collapse') {
			$(this).find('.node-view').slideUp();
			$(this).find('.label').text('Show');
		  } else {
			$(this).find('.node-view').slideDown();
			$(this).find('.label').text('Collapse');
		  }

		 });
	});
</script>
{% endblock %}
