html, body {
	background: #4c7dbf;
	max-width: 100%;
    overflow-x: hidden;
}

.yellow {
	color: #e5d11d;
}

.white {
	background: #f6f6f6;
}

div.row {
	padding: 5% 0;
	font-size: 20px;
}

.title {
	color: #e5d11d;
	font-size: 10vw;
	text-align: center;
}

.white .link {
	font-family: 'Source Code Pro' ;
	color: #4c7dbf;
	display: block;
	margin-top: 2%;
	text-align: center;
	font-size: 2vw;
}

img {
	width: 100%;
}

.about {
	color: white;
}

.about .images li {
	display: inline;

}

.footer {
	font-size: 10vw;
	text-align: center;
}


@media (max-width: 300px) {
  .white .link {
    font-size: 15px;
  }
}


@media (max-width: 1200px) {
  .instances {
  	display: none;
  }
}
