{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load disksizes %}

{% block title %}{{ instance.name }} on {{ instance.cluster.description }}{% endblock %}

{% block contentclass %}no-loading{% endblock %}

{% block extraticketinfo %} {% trans "about" %} {{ instance.name }} {% trans "on cluster" %} {{ instance.cluster.description }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'ganetimgr/css/includes/bootstrap-switch.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'ganetimgr/css/includes/daterangepicker.css' %}">
<style type="text/css">
		#toolbar {
		padding: 10px 4px;
	}
	li{
		list-style: none;
	}
	#reportrange {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
	color: #333333;
	cursor: pointer;
	line-height: 18px;
	padding: 8px;
  }
  #reportrange .caret {
	  margin-left: 2px;
	  margin-top: 8px;
  }

  .dropdown-menu.instanceopt{
	right: 0px;
	left: auto;
	text-align: left !important;
  }

  .alignCenter{
	text-align: center !important;
  }
  .alignLeft{
	text-align: left !important;
  }
  .alignRight{
	text-align: right !important;
  }
  .visoverflow{
	overflow: visible;
  }

</style>
{% endblock %}


{% block homepage %}class="active"{% endblock %}

{% block homepagetop %}class="active"{% endblock %}

{% block crumbs %}
	<li><a href="{% url user-instances %}">{% trans "Home" %}</a><span class="divider">/</span></li>
	<li class="active">{{ instance.name }}</li>
{% endblock %}

{% block content %}
	<div class="span6 main-content">
		<div class="row-fluid">
			<div class="row-fluid">
				<h2>
					{{ instance.name }}
					{% if instance.node_group_locked %}
						<span class="label label-important">
							<i class="fa fa-lock"></i>
							Actions Lock
						</span>
					{% endif %}
					{% if instance.adminlock %}
					<span class="label label-important">
						<i class="fa fa-lock"></i>
							Admin Lock
					</span>
					{% endif %}
					{% if instance.isolate %}
						<span class="label label-inverse">
							<i class="fa fa-shield"></i>
							Isolated
						</span>
					{% endif %}
				</h2>
				<table class="table visoverflow">
					<thead>
						<tr>
						  <th class="span12" colspan="2">{% trans "Details" %}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="">{% trans "Status" %}</td>
							<td id="status">{% trans "Loading" %}...</td>
						</tr>
						<tr>
							<td class="">{% trans "Cluster" %}</td>
							<td>
								{% if user.is_superuser or perms.ganeti.view_instances %}
									{{ instance.cluster.slug }}
								{% else %}
									{{ instance.cluster.description }}
								{% endif %}
							</td>
						</tr>
						{% if user.is_superuser or perms.ganeti.view_instances %}
						<tr>
							<td class="">{% trans "Node" %}</td>
							<td>{{instance.pnode}}</td>
						</tr>
						{% endif %}
						{% if user.is_superuser or perms.ganeti.view_instances %}
						{% if instance.snodes %}
						<tr>
							<td class="">{% trans "Secondary Nodes" %}</td>
							<td>
								{% for node in instance.snodes %}{{node}} {%endfor%}
							</td>
						</tr>
						{% endif %}
						{% endif %}
						<tr>
							<td class="">{% trans "OS" %}</td>
							<td>{{ instance.osname }}</td>
						</tr>
						<tr>
							<td class="">{% trans "Memory" %}</td>
							<td>{{ instance.beparams.maxmem|memsize }}</td>
						</tr>
						<tr>
							<td class="">{% trans "CPUs" %}</td>
							<td>{{ instance.beparams.vcpus }}</td>
						</tr>
						<tr>
							<td class="">Hard disk{{ instance.disk_sizes|pluralize }}</td>
							<td>{{ instance.disk_sizes|disksizes|join:", " }}</td>
						</tr>
						{% if user.is_superuser or perms.ganeti.view_instances %}
						<tr>
							<td class="">Disk Template{{ instance.disk_sizes|pluralize }}</td>
							<td>{{ instance.get_disk_template }}</td>
						</tr>
						{% endif %}
						<tr>
							<td class="">{% trans "Network cards" %}</td>
							<td>{{ instance.nic_macs|length }}</td>
						</tr>
						<tr>
							<td class="">MAC address{{ instance.nic_macs|pluralize:"es" }}</td>
							<td>{{ instance.nic_macs|join:", " }}</td>
						</tr>
						{% if instance.nic_ips %}
						<tr>
							<td class="">IP address{{ instance.nic_ips|pluralize:"es" }}</td>
							<td>{{ instance.nic_ips|join:", " }}</td>
						</tr>
						{% endif %}
						{% if instance.ipv6s %}
						<tr>
							<td class="">IPv6 address{{ instance.ipv6s|pluralize:"es" }}</td>
							<td>{{ instance.ipv6s|join:", " }}</td>
						</tr>
						{% endif %}
						{% if user.is_superuser or perms.ganeti.view_instances %}
						<tr>
							<td class="">Networks</td>
							<td>{{ instance.netw|join:", " }}</td>
						</tr>
						{% endif %}
						{% if instance.services %}
						<tr>
							<td class="">Services</td>
							<td>
								{% for service in instance.services %}
									{% if service == "mail" %}
										<i class="fa fa-envelope" title="{{service}}" data-toggle="tooltip"></i>
									{% else %}
										{{service}}
									{% endif %}
								{% endfor %}
							</td>
						</tr>
						{% endif %}
						<tr>
							<td class="">{% trans "Created on" %}</td>
							<td>{{ instance.ctime|date }}</td>
						</tr>
						<tr>
							<td class="">{% trans "Last modified" %}</td>
							<td>{{ instance.mtime|date }}</td>
						</tr>
						<tr>
							<td class="">{% trans "Owners" %}</td>
							<td>
							{% if user.is_superuser or perms.ganeti.view_instances %}
								{% for u in instance.users %}
									<a class="btn" href="{% if user.is_superuser %}{% url user-info type='user' usergroup=u.username %}{% else %}#{% endif %}"><i class="fa fa-user"></i> {{u.username}}</a>
								{% endfor %}
								{% for g in instance.groups %}
									<a class="btn" href="{% if user.is_superuser %}{% url user-info type='group' usergroup=g.name %}{% else %}#{% endif %}"><i class="fa fa-group"></i> {{g.name}}</a>
								{% endfor %}
							{% else %}
								{% for u in instance.users %}
									<span class="label label-inverse"><i class="fa fa-user"></i> {{u.username}}</span>
								{% endfor %}
								{% for g in instance.groups %}
									<span class="label label-inverse"><i class="fa fa-group"></i> {{g.name}}</span>
								{% endfor %}
									<a href="#" class="btn btn-info btn-small" onclick="javascript:showTags('{{instance.cluster.slug}}','{{instance.name}}'); return false;">
										<i class="fa fa-sitemap"></i> {% trans "Manage Owners" %}
									</a>
							{% endif %}
							</td>
						</tr>
						{% if user.is_superuser or perms.ganeti.view_instances %}
						<tr>
							<td class="">{% trans "Admin Options" %}</td>
							<td>
								<div class="btn-group">
							 		<button data-toggle="dropdown" class="btn dropdown-toggle">
							 			<i class="fa fa-cog"></i>
							 			{% trans "Options" %}
							 			<span class="caret"></span>
							 		</button>
							 		<ul class="dropdown-menu instanceopt pull-right">
							 			{% if request.user.is_superuser %}
											<li><a href="#" onclick="javascript:showDetails('{{instance.cluster.slug}}','{{instance.name}}'); return false;">{% trans "Details" %}</a></li>
											<li><a href="#" onclick="javascript:showNotify('{{instance.cluster.slug}}','{{instance.name}}'); return false;">{% trans "Notify" %}</a></li>
										{% endif %}
											<li><a href="#" onclick="javascript:showTags('{{instance.cluster.slug}}','{{instance.name}}'); return false;">{% trans "Owners" %}</a></li>
										{% if perms.ganeti.can_lock %}
											{% if instance.adminlock %}
												<li><a href="#" onclick="javascript:showLock('{{instance.cluster.slug}}','{{instance.name}}', 'unlock'); return false;">{% trans "Unlock" %}</a></li>
											{% else %}
												<li><a href="#" onclick="javascript:showLock('{{instance.cluster.slug}}','{{instance.name}}', 'lock'); return false;">{% trans "Lock" %}</a></li>
											{% endif %}
										{% endif %}
										{% if perms.ganeti.can_isolate %}
											{% if instance.isolate %}
									 			<li>
									 				<a href="#" onclick="javascript:showIsolate('{{instance.cluster.slug}}','{{instance.name}}', 'connect'); return false;">{% trans "De-Isolate" %}</a>
									 			</li>
								   			{% else %}
												<li>
													<a href="#" onclick="javascript:showIsolate('{{instance.cluster.slug}}','{{instance.name}}', 'isolate'); return false;">{% trans "Isolate" %}</a>
												</li>
											{% endif %}
										{% endif %}
							 		</ul>
						   		</div>
							</td>
						</tr>
						{% if instance.application %}
						<tr>
							<td class="">{% trans "Application" %}</td>
							<td>
								<a href="{% url application-review instance.application.pk %}">#{{instance.application.pk}}</a>
							</td>
						</tr>
						{% endif %}
					{% endif %}
					</tbody>
				</table>
			</div>
			<div class="row-fluid">
				<h2>Graphs</h2>
				<div class="row-fluid">
					<div id="reportrange" class="pull-left">
						<i class="fa fa-calendar fa-lrg"></i>
						<span></span>
						<b class="caret"></b>
			 		</div>
				</div>
				<h3>CPU</h3>
				<img src="{{instance.cpu_url}}" alt="{% trans 'No data available yet...' %}" title="Daily CPU" id="cpu_graph"/>
				<h3>Network</h3>
				{% for url in instance.net_url %}
					<img data-originalurl="{{url}}" src="{{url}}" alt="{% trans 'No data available yet...' %}" title="Daily Network" class="net_graph"/>
				{% endfor %}
			</div>
		</div>
	</div>
	{% if configform %}
	<div class="span6 sidebar">
		<div class="row-fluid">
			<div class="row-fluid">
				<h2>{% trans "Configuration Options" %}</h2>
				{% if not instance.node_group_locked %}
				<form method="POST" class="form-horizontal" id="conf_form">
					<table class="table">
	   					<thead>
							<tr>
							  <th class="span12" colspan="2">{% trans "Configuration" %}</th>
							</tr>
						</thead>
						<tr>
							<td>
							{% csrf_token %}
			  					<div class="control-group {% if configform.nic_type.errors %}error{% endif %}">
									<label class="control-label {% if configform.nic_type.field.required %}required{% endif %}" for="id_applier">
										{{ configform.nic_type.label }}
									</label>
			   						<div class="controls">{{ configform.nic_type }}
									{% if configform.nic_type.errors %}
										<span class="help-inline" style="clear:both;">
											{{ configform.nic_type.errors|join:", " }}
										</span>
									{% endif %}
									</div>
									<span class="help-block"> {{ configform.nic_type.help_text }}</span>
								</div>

								<div class="control-group {% if configform.disk_type.errors %}error{% endif %}">
									<label class="control-label {% if configform.disk_type.field.required %}required{% endif %}" for="id_applier">{{ configform.disk_type.label }}</label>
			   						<div class="controls">{{ configform.disk_type }}
									{% if configform.disk_type.errors %}
										<span class="help-inline" style="clear:both;">
											{{ configform.disk_type.errors|join:", " }}
										</span>
									{% endif %}
									</div>
									<span class="help-block"> {{ configform.disk_type.help_text }}</span>
								</div>
								<div class="control-group {% if configform.boot_order.errors %}error{% endif %}">
									<label class="control-label {% if configform.boot_order.field.required %}required{% endif %}" for="id_applier">{{ configform.boot_order.label }}</label>
								   <div class="controls">{{ configform.boot_order }}
									{% if configform.boot_order.errors %}
										<span class="help-inline" style="clear:both;">
											{{ configform.boot_order.errors|join:", " }}
										</span>
									{% endif %}
									</div>
									<span class="help-block"> {{ configform.boot_order.help_text }}</span>
								</div>
								<div class="control-group {% if configform.cdrom_type.errors %}error{% endif %}">
									<label class="control-label {% if configform.cdrom_type.field.required %}required{% endif %}" for="id_applier">{{ configform.cdrom_type.label }}</label>
								   	<div class="controls">{{ configform.cdrom_type }}
									{% if configform.cdrom_type.errors %}
										<span class="help-inline" style="clear:both;">
											{{ configform.cdrom_type.errors|join:", " }}
										</span>
									{% endif %}
									</div>
									<span class="help-block"> {{ configform.cdrom_type.help_text }}</span>
								</div>

								<div class="control-group {% if configform.cdrom_image_path.errors %}error{% endif %}">
									<label class="control-label {% if configform.cdrom_image_path.field.required %}required{% endif %}" for="id_applier">
										{{ configform.cdrom_image_path.label }}
									</label>
			   						<div class="controls">
			   							{{ configform.cdrom_image_path }}
										{% if configform.cdrom_image_path.errors %}
											<span class="help-inline" style="clear:both;">
												{{ configform.cdrom_image_path.errors|join:", " }}
											</span>
										{% endif %}
									</div>
									<span class="help-block"> {{ configform.cdrom_image_path.help_text }}</span>
								</div>
								<div class="control-group {% if configform.use_localtime.errors %}error{% endif %}">
									<label class="control-label {% if configform.use_localtime.field.required %}required{% endif %}" for="id_applier">{{ configform.use_localtime.label }}</label>
								   	<div class="controls">
									   	{{ configform.use_localtime }}
										{% if configform.use_localtime.errors %}
											<span class="help-inline" style="clear:both;">
												{{ configform.use_localtime.errors|join:", " }}
											</span>
										{% endif %}
									</div>
									<span class="help-block"> {{ configform.use_localtime.help_text }}</span>
								</div>
								<div class="control-group {% if configform.whitelist_ip.errors %}error{% endif %} {% if instance.isolate and not instance.whitelistip %}error{% endif %}" {% if not instance.isolate %}style="display:none;"{% endif %}>
									<label class="control-label {% if configform.whitelist_ip.field.required %}required{% endif %}" for="id_applier">{{ configform.whitelist_ip.label }}</label>
								   	<div class="controls">
								   		{{ configform.whitelist_ip }}
										{% if configform.whitelist_ip.errors %}
											<span class="help-inline" style="clear:both;">
												{{ configform.whitelist_ip.errors|join:", " }}
											</span>
										{% endif %}
										{% if instance.isolate and not instance.whitelistip %}
											<span class="help-inline" style="clear:both;">
												<span class="badge badge-important">{% trans "!" %}{{instance.whitelist_ip}}</span>
											</span>
										{% endif %}
									</div>
									<span class="help-block"> {{ configform.whitelist_ip.help_text }}</span>
								</div>
								<div class="control-group">
									<div class="controls">
										<button class="btn btn-primary" id="update" type="submit" value="Update" >{% trans "Update" %}</button>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</form>
				{% endif %}
			</div>
		</div>
   		<div class="row-fluid">
			<div class="row-fluid">
   				<table class="table">
		   			<thead>
						<tr>
						  <th class="span12" colspan="2">{% trans "Actions" %}</th>
						</tr>
					</thead>
					<tr>
						<td id="actions_container">&nbsp;</td>
							<!-- Here a setTimeout jquery script populates the instance control every 5 seconds -->
					</tr>
				</table>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="modal hide fade" id="instDets" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabelservdets">{% trans "Instance Tags" %}</h3>
		</div>
		<div class="modal-body" id="instDetsbody">
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
		</div>
	</div>

{% endblock %}

{% block postfooter %}
<script type="text/javascript" src="{% static 'ganetimgr/js/includes/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ganetimgr/js/includes/daterangepicker.js' %}"></script>
<script type="text/javascript">
	var utc_end = Math.round((new Date()).getTime() / 1000);
	$(function(){
		$('#reportrange').daterangepicker({
			ranges: {
				'Today': [new Date(), new Date()],
				'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
				'Last 7 Days': [moment().subtract('days', 6), new Date()],
				'Last 30 Days': [moment().subtract('days', 29), new Date()],
				'This Month': [moment().startOf('month'), moment().endOf('month')],
				'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
		   	},
			opens: 'left',
			format: 'DD/MM/YYYY',
			separator: ' to ',
			startDate: moment().subtract('days', 29),
			endDate: new Date(),
			minDate: moment().subtract('days', 900),
			maxDate: new Date(),
			locale: {
			   applyLabel: 'Submit',
			   fromLabel: 'From',
			   toLabel: 'To',
			   customRangeLabel: 'Custom Range',
			   daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
			   monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
			   firstDay: 1
			},
			showWeekNumbers: true,
			buttonClasses: ['btn-danger'],
			dateLimit: false
		},
		function(start, end) {
			$('#reportrange span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
			var start_date = Math.round((start.toDate()).getTime() / 1000);
			var end_date = Math.round((end.toDate()).getTime() / 1000);
			if (end_date > utc_end){
				end_date = utc_end;
			}
			$('#cpu_graph').attr('src', "{{instance.cpu_url}}" + "/" + start_date + "," + end_date);
			net_src = $(".net_graph").attr('src');
			$(".net_graph").each(function(){
				imgsrc = $(this).data('originalurl');
				imgsrcArr = imgsrc.split('/');
				if (imgsrcArr[imgsrcArr.length-1].match(/eth\d+/g)){
					eth = imgsrcArr.pop();
					imgsrc = imgsrcArr.join("/") + "/" + start_date + "," + end_date + "/" + eth;
					$(this).attr('src', imgsrc);
				}
			});
		});
		//Set the initial state of the picker label
		$('#reportrange span').html(moment().subtract('days', 1).format('D MMMM, YYYY') + ' - ' + moment().format('D MMMM, YYYY'));
	});
</script>
<script type="text/javascript">
	var polltimer;
	var timer = 4000;
	var state = "show";
	var load_data = function () {
			$.ajax({
				type: 'GET',
				url: '{% url instance-poll cluster.slug instance.name %}'+"?_="+new Date().getTime(),
				dataType: 'html',
				success: function(data) {
					if ($(data).find('#inst_status').length) {
						{% if configform %}
						$('#actions_container').html(data);
						if ($('#show_no_actions').size()==1){
							$('#conf_form').hide();
							state = "hide";
						}else if ($('#show_no_actions').size()==0){
							$('#conf_form').show();
							if (state == "hide"){
								window.setTimeout('location.reload()', 800);
							}
						}
						{% endif %}
						$("#status").html($(data).find('#inst_status').html());
						polltimer = setTimeout(load_data, timer);
					} else {
						$('#actions_container').html('<h2><a href="/">Session Expired. Please login again.</a></h2>');
					}
				}
			});
		}
	$(function() {
		load_data();
	});
	function showTags(cluster, instance){
		$( "#instDetsbody" ).html( "" );
		$( "#myModalLabelservdets" ).text('Instance Owners: '+instance);
		$( "#instDetsbody" ).load("{% url instance-tags %}"+instance+"");
		$( "#instDets" ).modal('show');
		return false;
	}

{% if user.is_superuser %}
	function showDetails(cluster, instance){
		$( "#instDetsbody" ).html( "" );
		$( "#myModalLabelservdets" ).text('Instance Details: '+instance);
		$( "#instDetsbody" ).load("{% url instance-popup %}/?cluster="+cluster+"&instance="+instance+"");
		$( "#instDets" ).modal('show');
		return false;
	}

	function showNotify(cluster, instance){
		$( "#instDetsbody" ).html( "" );
		$( "#myModalLabelservdets" ).text('Notify: '+instance);
		$( "#instDetsbody" ).load("{% url notify %}"+instance+"");
		$( "#instDets" ).modal('show');
		return false;
	}
{% endif %}

{% if user.is_superuser or perms.ganeti.can_lock or perms.ganeti.can_isolate %}
	function showLock(cluster, instance, action){
		$( "#instDetsbody" ).html( "" );
		$( "#myModalLabelservdets" ).text(action + ': '+instance);
		$( "#instDetsbody" ).load("{% url lock %}"+instance+"");
		$( "#instDets" ).modal('show');
		return false;
	}

	function showIsolate(cluster, instance, action){
		$( "#instDetsbody" ).html( "" );
		$( "#myModalLabelservdets" ).text(action + ': '+instance);
		$( "#instDetsbody" ).load("{% url isolate %}"+instance+"");
		$( "#instDets" ).modal('show');
		return false;
	}
{% endif %}
</script>
{% endblock %}
