{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block homepage %}class="active"{% endblock %}

{% block homepagetop %}class="active"{% endblock %}

{% block title %}{{ instance }} - {% trans "Console" %}{% endblock %}

{% block extrahead %}

{% if WEBSOCK_VNC_ENABLED %}
	<script type="text/javascript" src="{% static 'ganetimgr/js/jquery_csrf_protect.js' %}"></script>
	<style>
		#actions {
			margin-bottom: 30px;
		}

		input#paste {
			margin-bottom: 0px;
		}
	</style>
	<script type="text/javascript" src="{% static 'noVNC/include/util.js' %}"></script>
	<script type="text/javascript">
		// Set include path for noVNC scripts
		var INCLUDE_URI = "{% static 'noVNC/include/' %}";
		// Set path for proxy requests
		var PROXY_REQUEST_URI = "{% url instance-novnc-proxy cluster.slug instance %}";
		var rfb;
		var vnc_canvas;
		var ctrlOn = false;
		var altOn = false;
		Util.load_scripts(["webutil.js", "base64.js", "websock.js", "des.js", "keysymdef.js", "keyboard.js", "input.js", "display.js", "jsunzip.js", "rfb.js", "keysym.js"]);

		window.onscriptsload = function() {
			var rfb;
			var connect = $('#connect');
			var connected = false;
			var ctrlaltdelete = $('#ctrlaltdelete');
			var toggleCtrlButton = $('#toggleCtrlButton');
			var pasteButton = $('#pasteButton');
			var toggleAltButton = $('#toggleAltButton');
			var vnc_errors = $("#vnc_errors");
			var vnc_status_bar = $("#VNC_status_bar");
			var vnc_canvas = $('#VNC_canvas');
			var vnc_screen = $('#VNC_screen');
			var pasteArea = $('input#paste');
			pasteArea.hide();
			ctrlaltdelete.addClass('disabled');
			toggleCtrlButton.addClass('disabled');
			pasteButton.addClass('disabled').prop('disabled', true);
			toggleAltButton.addClass('disabled');

			function stop() {
				var rfb;
				if (rfb != undefined) {
					rfb.disconnect();
					rfb = undefined;
				}
			}

			function start() {
				data = {}
				$.ajax({
					"async" : false,
					"url" : PROXY_REQUEST_URI,
					"type" : "POST",
					"data" : data,
					"dataType" : "json",
					"success" : function(data) {
						host = data[0];
						port = data[1];
						password = data[2];
					}
				});
				// if (!show_errors()) return false;
				use_tls = {% if use_tls %}true{% else %}false{% endif %};
				rfb = new RFB({
					'target' : document.getElementById('VNC_canvas'),
					'encrypt' : use_tls,
					'true_color' : true,
					'local_cursor' : true,
					'shared' : true,
					'updateState' : updateState,
				});
				rfb.connect(host, port, password);
				return false;
			}

			function show_errors() {
				if (host === false || port === false || password === false) {
					connected = false;
					vnc_status_bar.attr("class", "label label-error").html("Probably your proxy is not running or some errors occured. Try again.");
					return false;
				}
				return true;
			}

			var pasteSpecialKeys = {
				enter: {
					descr: function(i) { return i == "Enter" },
					code: function(i) { return i == 10 || i == 13 }
				},
				esc: {
					descr: function(i) { return i == "Escape" },
					code: function(i) { return i == 27 }
				}
			}
			$('#paste').on('keydown keyup keypress', function(evt) {
				evt.stopPropagation(); // don't propagate to noVNC
				if (!!evt.key) {
					var way = 'descr';
				} else if (!!evt.which || !!evt.keyCode) {
					var way = 'code';
				} else {
					// abort!
					return true;
				}
				var testKey = function(koi) {
					return way == 'descr' ?
					pasteSpecialKeys[koi][way](evt.key) :
					pasteSpecialKeys[koi][way](evt.which || evt.keyCode);
				}
				if (connected && evt.type == "keypress") {
					var reset = false;
					if (testKey('enter')) {
						evt.preventDefault();
						var text = $(this).val();
						for (var i=0; i < text.length; i+=1) {
							rfb.sendKey(text.charCodeAt(i));
						}
						rfb.sendKey(XK_Return);
						reset = true;
					} else if (testKey('esc')) {
						// evt.preventDefault();
						reset = true;
					}
					if (reset) {
						$(this).val('').hide();
					}
				}
			});

			function updateState(rfb, state, oldstate, msg) {
				var klass;
				switch (state) {
					case 'failed':
					case 'fatal':
						klass = "label label-error";
						break;
					case 'normal':
						klass = "label label-success";
						break;
					case 'disconnected':
					case 'loaded':
						klass = "label label-info";
						break;
					case 'password':
						msg = 'Password required';
						klass = "label";
						break;
					default:
						klass = "label";
				}

				if (state == "normal") {
					connected = true;
					connect.addClass('enabled').removeClass('btn-success').addClass('btn-danger').text('Disconnect');
					ctrlaltdelete.removeClass('disabled');
					toggleCtrlButton.removeClass('disabled');
					toggleAltButton.removeClass('disabled');
					vnc_canvas.addClass("connected");
					pasteButton.removeClass('disabled').prop('disabled', false);
				} else {
					vnc_canvas.removeClass("connected");
					connected = false;
					connect.removeClass('enabled').removeClass('btn-danger').addClass('btn-success').text('Connect');
					ctrlaltdelete.addClass('disabled');
					toggleCtrlButton.addClass('disabled');
					toggleAltButton.addClass('disabled');
					pasteButton.addClass('disabled').prop('disabled', true);
					pasteArea.val('').hide();
				}

				if (msg != undefined) {
					vnc_status_bar.attr("class", klass).html(msg);
				}
			}


			connect.click(function(event) {
				event.preventDefault();
				var $this = $(this);
				if ($this.hasClass('enabled')) {
					rfb.disconnect();
					connected = false;
				} else {
					connected = true;
					start();
				}

			});

			pasteButton.click(function (evt) {
				if ($(this).prop('disabled')) {
					evt.preventDefault();
					return false;
				} else {
					pasteArea.toggle().
					filter(':visible').focus();
				}
			});

			ctrlaltdelete.click(function(event) {
				event.preventDefault();
				if (!$(this).hasClass('disabled')) {
					rfb.sendCtrlAltDel();
				}
			});
			toggleCtrlButton.click(function(event) {
				event.preventDefault();
				if (!$(this).hasClass('disabled')) {
					if(ctrlOn === false) {
						rfb.sendKey(XK_Control_L, true);
						$(this).button('toggle');
						ctrlOn = true;
				} else if(ctrlOn === true) {
					rfb.sendKey(XK_Control_L, false);
					$(this).button('toggle');
					ctrlOn = false;
				}
				}
				return false;
			});
			toggleAltButton.click(function(event) {
				event.preventDefault();
				if (!$(this).hasClass('disabled')) {
					if(altOn === false) {
						rfb.sendKey(XK_Alt_L, true);
						$(this).button('toggle');
						altOn = true;
				} else if(altOn === true) {
					rfb.sendKey(XK_Alt_L, false);
					$(this).button('toggle');
					altOn = false;
				}
				}
				return false;
			});
			$(window).bind("unload", stop);
		};
	</script>
	{% endif %}
{% endblock %}

{% block crumbs %}
	<li>
		<a href="{% url user-instances %}">{% trans "Home" %}</a><span class="divider">/</span>
	</li>
	<li>
		<a href="{% url instance-detail cluster.slug instance %}">{{ instance }}</a><span class="divider">/</span>
	</li>
	<li class="active">
		{% trans "Console" %}
	</li>
{% endblock %}

{% block content %}
	{% if WEBSOCK_VNC_ENABLED %}
	<div class="span11 main-content">
		<div class="row-fluid">
			<div class="row-fluid">
				<div class="span12">
					<h2><i class="fa fa-terminal"></i> {% trans "VNC session on" %} {{ instance }}</h2>
					<button id="connect" class="btn btn-success">
						Connect
					</button>
					<button class="btn" id="ctrlaltdelete">
						Ctrl+Alt+Del
					</button>
					<button id="toggleCtrlButton" class="btn">Toggle Ctrl</button>
					<button id="toggleAltButton" class="btn">Toggle Alt</button>
					<button id="pasteButton" class="btn">Paste Text</button>
					<input type="text" class="span4" id="paste" placeholder="Paste text and press enter"></input>
				</div>
				<div id="VNC_screen">
					<span id="VNC_status_bar" class="label label-info">Click Connect to... connect</span>
					<br>
					<br>
					<canvas id="VNC_canvas">
						{% blocktrans %}Canvas is not supported in your browser. Please use new versions
						of Chrome or Firefox.{% endblocktrans %}
					</canvas>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="span11 main-content">
		<div class="row-fluid">
			WebSockets VNC is not enabled.
		</div>
	</div>
	{% endif %}
{% endblock %}
