{% extends "base.html" %}
{% load i18n %}
{% load disksizes %}
{% load staticfiles %}

{% block title %}{% trans 'Cluster info' %}{% endblock %}
{% block clusterinfo %}class = "active"{% endblock %}
{% block crumbs %}
	<li><a href="{% url 'user-instances' %}">{% trans "Home" %}</a><span class="divider">/</span></li>
	<li class="active">{% trans "Cluster Info" %}</li>
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'ganetimgr/css/includes/select2.css' %}">
<style type="text/css">
	.dropdown-menu.instanceopt{
		right: 0px;
		left: auto;
		text-align: left !important;
	}

	.alignCenter{
		text-align: center !important;
	}
	.alignLeft{
		text-align: left !important;
	}
	.alignRight{
		text-align: right !important;
	}
	.visoverflow{
		overflow: visible;
	}
	.small-font-table{
		font-size: 12px;
	}
</style>
{% endblock %}

{% block content %}
<div class="span12">
	<h2>{% trans "Cluster Info" %}
		<select id="pick_cluster" data-url="{% url 'clusterdetails_json' %}">
			<option value="">{% trans 'Select cluster' %}</option>
			{% for cluster in clusters %}
				<option value="{{ cluster.slug }}">{{ cluster.slug }}</option>
			{% endfor %}
		</select>
	</h2>
</div>
<div class="main-content span12">
	<div class="row">
		<div class="span4">
			<div class="span12">
		        <h2>{% trans "Details" %}</h2>
		    	<table class="table visoverflow  small-font-table">
		            <thead>
		            	<tr>
		                  <th class="span12" colspan="2">
		                  	<span id="cluster_title_ph"></span> ::. <span id="cluster_desc_ph"></span>
		                  </th>
		                </tr>
		            </thead>
		            <tbody>
					<tr><td class="">{% trans "Hostname" %}</td><td id="cluster_hostname_ph"></td></tr>
					<tr><td class="">{% trans "Disk Templates" %}</td><td id="disk_templates_ph"></td></tr>
					<tr><td class="">{% trans "Hypervisor" %}</td><td id="cluster_hv_ph"></td></tr>
					<tr><td class="">{% trans "Version" %}</td><td id="cluster_version_ph"></td></tr>
					<tr><td class="">{% trans "Instances" %}</td><td id="cluster_instances_ph"></td></tr>
					<tr>
						<td class="">{% trans "Ipolicy" %}</td><td>
							<div class="row-fluid">
								<div class="span6" id="cluster_ipolicymin_ph"></div>
								<div class="span6" id="cluster_ipolicymax_ph"></div>
							</div>
						</td>
					</tr>
		            </tbody>
		        </table>
		    </div>
			<div class="span12">
				<h2>{% trans "Networks" %}</h2>
			    	<table class="table visoverflow  small-font-table">
			    		<thead>
			            	<tr>
			            		<th>Name</th><th>Type</th><th>Network</th><th>Network6</th><th>Free</th>
			            	</tr>
			        	</thead>
			        	<tbody id="networks_ph">
			        	</tbody>
			    	</table>
			</div>
		</div>
		<div class="span8">
			<h2>{% trans "Nodegroups" %}</h2>
		    	<table class="table visoverflow  small-font-table" id="ng_cluster_ph">
		    	</table>
		</div>
	</div>
</div>
{% endblock %}

{% block bottomblock %}
<script src="{% static 'ganetimgr/js/includes/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'ganetimgr/js/includes/jquery.sparkline.min.js' %}"></script>

<script type="text/javascript">
	$(document).ready(function(){
		var clusterdropdown = $("#pick_cluster");
		var cluster;
		var content = $('.main-content');

		function load_cluster_details(cluster_slug) {
			$.get(clusterdropdown.data('url') + '?cluster=' + cluster_slug, function(data) {
				if (!data) {
					$.add_message('Could not load data', 'error');
				} else {
					selected_cluster = data;

					//Cluster Info
					$("#cluster_title_ph").html(selected_cluster.slug)
					$("#disk_templates_ph").empty();
					$("#cluster_ipolicymax_ph").empty();
					$("#cluster_ipolicymin_ph").empty();
					$("#ng_cluster_ph").empty();
					$("#networks_ph").empty();
					$("#cluster_instances_ph").empty();

					var disk_templates = "";
					var sep = ",";
					for (var j=0; j<selected_cluster.clusterinfo.ipolicy['disk-templates'].length; j++) {
						if (j == 0){
							disk_templates = "<span class='label label-success'>"+selected_cluster.clusterinfo.ipolicy['disk-templates'][j]+"</span>";
						}
						else{
							disk_templates = disk_templates + "  <span class='label label-info'>"+selected_cluster.clusterinfo.ipolicy['disk-templates'][j]+"</span>";
						}

					}
					$("#disk_templates_ph").append(disk_templates);
					$("#cluster_desc_ph").html(selected_cluster.description);
					$("#cluster_hostname_ph").html(selected_cluster.hostname);
					$("#cluster_hv_ph").html(selected_cluster.clusterinfo.default_hypervisor);
					$("#cluster_version_ph").html(selected_cluster.clusterinfo.software_version);
					ipolicy = selected_cluster.clusterinfo.ipolicy.minmax[0];
					ipolmax_ds = bytesToSize(ipolicy.max["disk-size"]);
					ipolmax_cpu = ipolicy.max["cpu-count"];
					ipolmax_mem = bytesToSize(ipolicy.max["memory-size"]);
					ipolmax_nic = ipolicy.max["nic-count"];
					ipolmax_disks = ipolicy.max["disk-count"];
					ipolmin_ds = bytesToSize(ipolicy.min["disk-size"]);
					ipolmin_cpu = ipolicy.min["cpu-count"];
					ipolmin_mem = bytesToSize(ipolicy.min["memory-size"]);
					ipolmin_nic = ipolicy.min["nic-count"];
					ipolmin_disks = ipolicy.min["disk-count"];
					var imax = "<table class='table table-condensed small-font-table'>\
					<thead>\
	                    <tr>\
	                      <th class='span12' colspan='2'>Max</th>\
	                    </tr>\
	                </thead>\
					</tbody>";
					imax = imax + "<tr><tr><td class=''>Disk Size</td><td>"+ipolmax_ds+"</td></tr>";
					imax = imax + "<tr><tr><td class=''>CPUs</td><td>"+ipolmax_cpu+"</td></tr>";
					imax = imax + "<tr><tr><td class=''>Memory</td><td>"+ipolmax_mem+"</td></tr>";
					imax = imax + "<tr><tr><td class=''>NICs</td><td>"+ipolmax_nic+"</td></tr>";
					imax = imax + "<tr><tr><td class=''>Disks</td><td>"+ipolmax_disks+"</td></tr>";
					imax = imax + "</tbody></table>";
					$("#cluster_ipolicymax_ph").append(imax);
					var imin = "<table class='table table-condensed small-font-table'>\
					<thead>\
	                    <tr>\
	                      <th class='span12' colspan='2'>Min</th>\
	                    </tr>\
	                </thead>\
					</tbody>";
					imin = imin + "<tr><tr><td class=''>Disk Size</td><td>"+ipolmin_ds+"</td></tr>";
					imin = imin + "<tr><tr><td class=''>CPUs</td><td>"+ipolmin_cpu+"</td></tr>";
					imin = imin + "<tr><tr><td class=''>Memory</td><td>"+ipolmin_mem+"</td></tr>";
					imin = imin + "<tr><tr><td class=''>NICs</td><td>"+ipolmin_nic+"</td></tr>";
					imin = imin + "<tr><tr><td class=''>Disks</td><td>"+ipolmin_disks+"</td></tr>";
					imin = imin + "</tbody></table>";
					$("#cluster_ipolicymin_ph").append(imin);

					//Nodegroups
					nodegroups = selected_cluster.nodegroups;
					ng_tr = $("<tbody></tbody>");
					ng_thead= $("<thead>\
	                    <tr>\
	                      <th>Name</th><th>Nodes - #Inst - #CPUs - %Mem</th><th>Networks</th><th>Alloc Policy</th><th>VGs</th>\
	                    </tr>\
	                </thead>");
					for (var j=0; j<nodegroups.length; j++) {
						name = nodegroups[j].name;
						alloc_policy = nodegroups[j].alloc_policy;
						nodes = $("<div></div>");
						ng_nodes = nodegroups[j].nodes;
						ng_nodes = ng_nodes.sort();
						for (var k=0; k<ng_nodes.length; k++) {
								curriternode = ng_nodes[k];
								node_info = get_node_info(curriternode);
								if (node_info) {
									node_class = "";
									title = "";
									if (node_info.role == "C"){
										node_class = 'label label-info';
										title = "Candidate";
									}
									if (node_info.role == "R"){
										node_class = 'label';
										title = "Regular";
									}
									if (node_info.role == "O"){
										node_class = 'label label-important';
										title = "Offline";
									}
									if (node_info.role == "M"){
										node_class = 'label label-success';
										title = "Master";
									}
									if (node_info.role == "D"){
										node_class = 'label label-warning';
										title = "Drained";
									}
									node_span = $("<span class='"+node_class+"' title='"+title+"'>"+ng_nodes[k]+"</span> <span class='badge'>"+node_info.pinst_cnt+"</span>");
									bullcolor = "#3a87ad";
									if (node_info.mem_used > 0){
										if (node_info.mem_used < 50){
											bullcolor = "#3a87ad";
										}
										if (node_info.mem_used >= 50){
											bullcolor = "#468847";
										}
										if (node_info.mem_used >= 80){
											bullcolor = "#f89406";
										}
									}
									var bulletchart = $(" <span style='float:right'>&nbsp;</span> ");
									bulletchart.sparkline([node_info.mem_used, 100],
										{
								    	type: 'bullet',
								    	targetWidth: 5,
								    	performanceColor: bullcolor,
								    	tooltipValueLookups: { fields: {r: 'Range', p: 'Mem 100%', t: 'Mem Used %'} }
								    	});
								    nodes.append(node_span);
								    nodes.append(bulletchart);
								    if (node_info.ctotal == null){
								    	node_info.ctotal = "-";
								    }
								    nodes.append("<span style='float:right' class='badge badge-info'>"+node_info.ctotal+"</span> ");
								    nodes.append('<br>');
								} else {
									$.add_message(curriternode + ' could not be loaded.')
								}
						}
						$.sparkline_display_visible();
						vgs = "";
						for (var k=0; k<nodegroups[j].vgs.length; k++) {
								vgs = vgs + nodegroups[j].vgs[k] + "<br/>";
						}
						nets = $("<div></div>");
						net_span = $("<td></td>");
						for (var k=0; k<nodegroups[j].networks.length; k++) {
								curriternet = nodegroups[j].networks[k];
								net_class = "";
								if (curriternet.type == "bridged"){
									net_class = "label label-info";
								}
								if (curriternet.type == "routed"){
									net_class = "label label-success";
								}
								free = curriternet.free_count;
								reserved = curriternet.reserved_count;
								if (free && reserved){
									var piechart = $("<span style='float:right'>&nbsp;</span>");
									piechart.sparkline([reserved, free], {type: 'pie',sliceColors : ["#f89406", "#468847"], disableHiddenCheck: true });
								}
								def_net = "";
								if (curriternet.defaultnet == true){
									def_net = " <span class='badge badge-inverse'>D</span>";
								}

								nspan = "<span class='"+net_class+"'>"+nodegroups[j].networks[k].network+def_net+"</span> <span class='label'>"+nodegroups[j].networks[k].link+"</span>";
								net_span.append(nspan);
								if (free && reserved){
									net_span.append(piechart);
								}
								net_span.append("<br>");
								nets.append(net_span);
						}
						curr_tr = $("<tr></tr>");
						nodes_td = $("<td></td>")
						nodes_td.append(nodes);
						curr_tr.append("<td>"+name+"</td>");
						curr_tr.append(nodes_td);
						curr_tr.append(net_span);
						curr_tr.append("<td>"+alloc_policy+"</td>");
						curr_tr.append("<td>"+vgs+"</td>");
						ng_tr.append(curr_tr);
					}
					$("#ng_cluster_ph").append(ng_tr);
					$("#ng_cluster_ph").prepend(ng_thead);

					$.sparkline_display_visible();


					// Networks
					clnets = selected_cluster.networks;
					var nettable = "";
					for (var j=0; j<clnets.length; j++) {
						currnet = clnets[j];
						name = currnet.name;
						network = "-";
						network6 = "-";
						free = "-";
						type = "bridged";
						if (currnet.gateway){
							// It's likely a routed network... TODO: will have to perform some additional checks...
							network = currnet.network;
							network6 = currnet.network6;
							free = currnet.free_count;
							type = "routed";
						}
						nettabletr = "<tr><td>"+name+"</td><td>"+type+"</td><td>"+network+"</td><td>"+network6+"</td><td>"+free+"</td></tr>";
						$("#networks_ph").append(nettabletr);
					}

					//Instances
					jobs = "";
					$.ajax({
						type: 'GET',
						url: "{% url 'user-instances-json' %}?cluster="+selected_cluster.slug,
						dataType: 'json',
						success: function(datainst) {
								insts = datainst.aaData;
								instObj = {}
								instObj.up = 0;
								instObj.down = 0;
								for (var l=0; l<insts.length; l++) {
									if (insts[l].status == "Running"){
										instObj.up = instObj.up + 1;
									}
									else{
										instObj.down = instObj.down + 1;
									}
								}
									var piechartclinst = $("<span style='float:right'>&nbsp;</span>");
									piechartclinst.sparkline([instObj.down, instObj.up], {type: 'pie',sliceColors : ["#f89406", "#468847"], disableHiddenCheck: true });
									all_insts = $("<span title='All Instances' class='label label-info' >all: "+insts.length+"</span> \
									<span class='label label-success' title='Running'>running: "+instObj.up+"</span>\
									 <span class='label label-warning' title='Stopped/Other'>stopped/other: "+instObj.down+"</span>");
									$("#cluster_instances_ph").append(all_insts).append(piechartclinst);
									$.sparkline_display_visible();
									$(".tooltip").tooltip();
							}
					});
					content.show();
				}

			});
		}

		function bytesToSize(bytes) {
		   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
		   if (bytes == 0) return '0 Byte';
		   var i = parseInt(Math.floor(Math.log(bytes*1024*1024) / Math.log(1024)));
		   return Math.round(bytes*1024*1024 / Math.pow(1024, i), 2) + ' ' + sizes[i];
		};

		function get_node_info(node_name){
			cluster = selected_cluster;
			for (var i=0; i<cluster.nodes.length; i++) {
				if (node_name == cluster.nodes[i].name){
					return cluster.nodes[i];
				}
			}
		};

		function get_net_info(network_name){
			cluster = selected_cluster;
			for (var i=0; i<cluster.networks.length; i++) {
				if (network_name == cluster.networks[i].name){
					return cluster.networks[i];
				}
			}
		};

		clusterdropdown.select2();
		content.hide();

		clusterdropdown.on('change', function(){
			content.hide();
			if ($(this).val()) {
				load_cluster_details($(this).val());
			}
		});

	});

</script>
{% endblock %}


