{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load disksizes %}
{% load bootstrappercent %}
{% load noderole %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'ganetimgr/css/includes/select2.css' %}">
<style>
	.dropdown-menu.instanceopt{
		right: 0px;
		left: auto;
	}
</style>
{% endblock %}

{% block title %}{% trans "Nodes" %}{% endblock %}

{% block clusternodes %}class="active"{% endblock %}

{% block crumbs %}
	<li><a href="{% url user-instances %}">{% trans "Home" %}</a><span class="divider">/</span></li>
	<li class="active">{% trans "Nodes" %}</li>
{% endblock %}

{% block content %}
<div id="clusternodes" class="span12 main-content">
	<div class="row-fluid">
		<div class="row-fluid">
			<h2>
				{% trans "Nodes" %}
			</h2>
		</div>
	</div>
</div>
{% endblock %}

{% block postfooter %}
<script type="text/javascript">
	$(document).ready(function() {
		NProgress.configure({ showSpinner: false });
    	NProgress.start();
		$('#clusternodes').load('{% url cluster-nodes-pjax %} #clusternodes');
	});
</script>
{% endblock %}
