{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load disksizes %}
{% load bootstrappercent %}
{% load noderole %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'ganetimgr/css/includes/select2.css' %}">
<style>
	.dropdown-menu.instanceopt{
		right: 0px;
		left: auto;
	}
</style>
{% endblock %}

{% block title %}{% trans "Nodes" %}{% endblock %}

{% block clusternodes %}class="active"{% endblock %}

{% block crumbs %}
	<li><a href="{% url 'user-instances' %}">{% trans "Home" %}</a><span class="divider">/</span></li>
	<li class="active">{% trans "Nodes" %}</li>
{% endblock %}

{% block content %}
<div id="clusternodes" class="span12 main-content">
	<div class="row-fluid">
		<div class="row-fluid">
			<h2>
				{% trans "Nodes" %}
			</h2>

			<div id="clusterfilter">
				<select  multiple>{% for cluster in clusters %}<option value="{{cluster}}">{{cluster}}</option>{% endfor %}</select>
			</div>
			<table class="table table-first-column-number data-table display full" id="vm_instance_table">
				<thead>
					<tr>
						<th>{% trans "Name" %} <span class="sort-icon"><span></th>
						<th style="text-align: center;">{% trans "Nodegroup" %} <span class="sort-icon"><span></th>
						<th>{% trans "Memory" %} <span class="sort-icon"><span></th>
						<th>{% trans "Disk" %} <span class="sort-icon"><span></th>
						<th style="text-align: center;">CPUs <span class="sort-icon"><span></th>
						<th style="text-align: center;">Instance # <span class="sort-icon"><span></th>
						<th >{% trans "Status" %} <span class="sort-icon"><span></th>
						<th >Cluster <span class="sort-icon"><span></th>
					</tr>
				</thead>
				<tbody>
				{% for node in nodes %}
					<tr {% if node.role == 'O' %}class="alert alert-error"{% endif %}{% if node.role == 'D' %}class="alert alert-warning"{% endif %}>
						<td>
							{% if servermon %}
								<a href="{{servermon}}/{{node.name}}" target="_blank">
									{{ node.name }}
								</a>
							{% else %}
								{{ node.name }}
							{% endif %}
						</td>
						<td style="text-align: center;">
							{{ node.group }}
						</td>
						<td>
							<div class="progress progress-{{node.mem_used|perctobootstrap}}">
								<div class="bar" style="width: {{node.mem_used}}%" data-size="{{node.mem_used}}">
									{{ node.mem_used}}%
								</div>
							</div>
							Free: <span class="badge badge-{{node.mem_used|perctobootstrapbadge}}">{{node.mfree|memsize}} </span> Total: <span class="badge badge-inverse">{{node.mtotal|memsize}}</span>
						</td>
						<td>
						{% if node.shared_storage %}
							<span class="label label-info" data-size="0">Shared Storage</span>
						{% else %}
							<div class="progress progress-{{node.disk_used|perctobootstrap}}">
								<div class="bar" style="width: {{node.disk_used}}%" data-size="{{node.disk_used}}">
									{{ node.disk_used }}%
								</div>
							</div>
							Free: <span class="badge badge-{{node.disk_used|perctobootstrapbadge}}">{{node.dfree|memsize}} </span> Total: <span class="badge badge-inverse">{{node.dtotal|memsize}}</span>
						{% endif %}
						</td>
						<td style="text-align: center;">
							{{ node.ctotal }}
						</td>
						<td style="text-align: center;">
							<a data-ninst="{{node.pinst_cnt}}" data-html="true" data-content="{% for i in node.pinst_list %}<a href='{% url 'instance-detail' node.cluster i %}' target='_blank'>{{i}}</a><br/>{% endfor %}" title="" rel="popover" data-toggle="popover" class="btn btn-small btn-info" href="#" data-original-title="Node instances">
								{{ node.pinst_cnt }}
							</a>
						</td>
						<td>
							<span class="label label-{{ node.role|nodelabel }}">
								{{ node.role|noderole }}
							<span>
						</td>
						<td style="text-align: center;">
							{{ node.cluster }}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}


