{% extends "base.html" %}
{% block title %}Application submitted{% endblock %}
{% block content %}
<div align="center">
{% if pending %}
<h2>Pending applications</h2>
<table>
<tr><th>Hostname</th><th>User</th><th>Memory</th><th>vCPUs</th><th>Network</th><th>Filed</th></tr>
{% for app in pending %}
<tr><td><a href="{% url application-review app.pk %}">{{ app.hostname }}</a></td><td>{{ app.applicant }}</td><td>{{ app.memory }}</td><td>{{ app.vcpus }}</td><td>{{ app.network|default_if_none:"&mdash;" }}</td><td>{{ app.filed|date }}</td></tr>
{% endfor %}
</table>
{% endif %}

<h2>Completed applications</h2>
<table>
<tr><th>Hostname</th><th>User</th><th>Memory</th><th>vCPUs</th><th>Network</th><th>Filed</th></tr>
{% for app in completed %}
<tr><td><a href="{% url application-review app.pk %}">{{ app.hostname }}</a></td><td>{{ app.applicant }}</td><td>{{ app.memory }}</td><td>{{ app.vcpus }}</td><td>{{ app.network|default_if_none:"&mdash;" }}</td><td>{{ app.filed|date }}</td></tr>
{% endfor %}
</table>
</div>
{% endblock %}
