{% extends "base.html" %}
{% block title %}Apply{% endblock %}
{% block breadcrumbs %}:: <a href="{% url apply %}">Create Instance</a>{% endblock %}
{% block content %}
<p class="info_content_title"><a href="/">My instances</a> :: <a href="{% url apply %}">Create new</a></p>
<div align="center">
<h3>Application succesfully filed</h3>
Our administrators have been notified and will process your application shortly. You will be notified via e-mail when your instance is created.
</div>
{% endblock %}
