<html>
<head>
<title>ViMa :: {% block title %}{% endblock %} </title>
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/static/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/css/smoothness/jquery-ui-1.8.13.custom.css">
<script type="text/javascript" src="/static/js/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript">


function highlight(elemId){
    var elem = $(elemId);
    elem.css("background-color", "#ffffbb");
    setTimeout(function() { $(elemId).animate({ backgroundColor: "white" }, 2000)}, 1500);
}

   
$(document).ready( function(){
	if (document.location.hash) {
	    highlight(document.location.hash);
	}
	$('a[href*=#]').click(function(){
	    var elemId = '#' + $(this).attr('href').split('#')[1];
	    highlight(elemId);
	});
});

</script>
{% block extrahead %}{% endblock %}
</head>



<body>
	<div id="main">
			<div id="header">
				<a class="grnetlogo" href="/">
					<img class="logoimg" src="/static/grnet_logo.png">
				</a>
				<div id="title">
					<a href="/">virtual private servers</a>
				</div>
				<div class="loginform">
					{% if not user.is_authenticated %}
					<form id="formcontent" method="post" action="{% url login %}">
						<label for="username">username </label><input name="username" type="text"></input> 
						<label for="password">password </label><input name="password" type="password"></input>
						<input type="submit" value="login" />
					</form>
					{% else %}
					<div id="formcontent">
						<span class="topmenuuser">Welcome <strong>{{user}}</strong></span>
						<span class="topmenuaction"><a href="{% url apply %}">Create Instance</a><sup style="color: red; font-size:0.7em;">New!</sup></span>
						<span class="topmenuaction"><a href="{% url pass_change %}">Change password</a></span>
						<span class="topmenuaction"><a href="{% url logout %}">Logout</a></span>
					</div>
					{% endif %}
				</div>
			</div>
			<div id="content">
				<p class="info_content_title"><a href="/">My instances</a>{% block breadcrumbs %}{% endblock %}</p>
				{% block content %}
				{% endblock %}

			</div>
			<div id="footer">
				Developed by <a href="http://www.noc.grnet.gr">GRNET NOC</a> using <a href="http://www.djangoproject.com/">Django</a>, provided by <a href="http://code.google.com/p/ganeti/">Ganeti</a> running on <a href="http://www.debian.org">Debian GNU/Linux</a>
			</div>
	</div>
</body>
</html>
