{% extends "base.html" %}

{% block title %}{{ object.hostname|safe }}{% endblock %}
{% block content %}

<p class="info_content_title"><a href="/">Clusters</a> :: {{object.hostname}}</p>
<h3>{{object.hostname}}</h3>

<table class="instances_table" width="60%">
<tr><th colspan=6 class="table_top_header">VM Instances</th></tr>
<tr><td class="table_title">Name</td><td class="table_title">Primary node</td><td class="table_title">Backup node</td>
<td class="table_title">Memory</td><td class="table_title">Current memory</td><td class="table_title">Status</td></tr>
{% for instance in object.get_instances %}
{% for myuser in instance.users %}
{% ifequal myuser user %}
<tr><td class="instance_name"><a href="{% url instance-detail object.slug instance.name %}">{{ instance.name }}</a></td><td>{{ instance.pnode }}</td><td>{{ instance.snodes.0 }}</td><td>{{ instance.beparams.memory }}</td><td>{{ instance.oper_ram }}</td>
<td>{% ifequal instance.admin_state instance.oper_state %}
{{ instance.admin_state|yesno:"Running,Stopped" }}
{% else %}
{{ instance.oper_state|yesno:"Running,Stopped" }}, should be {{ instance.admin_state|yesno:"running,stopped" }}
{% endifequal %}
</td></tr>
{% endifequal %}
{% endfor %}
{% endfor %}
</table>
		{% with object.get_cluster_info as info %}
<table class="instances_table" width="36%">
<tr><th class="table_top_header" colspan=2>Cluster Details</th></tr>
<tr><td class="table_title">Architecture</td><td>{{ info.architecture.0 }}</td></tr>
<tr><td class="table_title">Default hypervisor</td><td>{{ info.default_hypervisor }}</td></tr>
<tr><td class="table_title">Available hypervisors</td><td>{{ info.enabled_hypervisors|join:", " }}</td></tr>
<tr><td class="table_title">Master node</td><td>{{ info.master }}</td></tr>
<tr><td class="table_title">Created</td><td>{% if info.ctime %}{{ info.ctime|date }}{% else %}<em>unknown</em>{% endif %}</td></tr>
<tr><td class="table_title">Last modified</td><td>{{ info.mtime|date }}</td></tr>
</table>
{% endwith %}

{% endblock %}
