{% extends "base.html" %}

{% block title %}{{ instance.name }} on {{ cluster }}{% endblock %}
{% block extrahead %}
<style type="text/css">
		#toolbar {
		padding: 10px 4px;
	}

</style>
<script type="text/javascript">

$(function() {
    var timer = 5000;
    function load_data() {
        $.ajax({
            type: 'POST',
            url: '{% url instance-poll cluster.slug instance.name %}',
            dataType: 'html',
            success: function(data) {
                $('#actions_container').html(data);
                setTimeout(load_data, timer);
            }
        });
    }
    load_data(); 
});

</script>
{% endblock %}
{% block content %}

<p class="info_content_title"><a href="/">Clusters</a> :: <a href="{% url cluster_detail cluster.slug %}">{{ cluster.hostname }}</a> :: {{ instance.name }}</p>
<h3>Instance - {{ instance.name }}</h3>
<div id="fl_l">
<table class="instance_det_table">
<tr><th class="table_top_header" colspan=2>Instance Details</th></tr>
<tr><td class="table_title">Status</td><td>{{ instance.oper_state|yesno:"Running,Stopped" }}</td></tr>
<tr><td class="table_title">Autostart</td><td>{{ instance.admin_state }}</td></tr>
<tr><td class="table_title">UUID</td><td>{{ instance.uuid }}</td></tr>
<tr><td class="table_title">Primary node</td><td>{{ instance.pnode }}</td></tr>
<tr><td class="table_title">Failover node</td><td>{{ instance.snodes|join:", " }}</td></tr>
<tr><td class="table_title">Created on</td><td>{{ instance.ctime|date }}</td></tr>
<tr><td class="table_title">Last modified</td><td>{{ instance.mtime|date }}</td></tr>
<tr><td class="table_title">NIC type</td><td>{{ instance.hvparams.nic_type }}</td></tr>
<tr><td class="table_title">Disk type</td><td>{{ instance.hvparams.disk_type }}</td></tr>
</table>
</div>


<div id="configuration">
{% ifnotequal instance.oper_state instance.admin_state %}
<em>No configuration allowed at this time</em>
{% else %}
<form method="post" align="center">
<table class="conf_table">
	<tr><th colspan="2" style="text-align:center;" class="table_topper_header">VM Configuration</th></tr>
{{ configform.as_table }}
<tr><td colspan="2" style="text-align:center; padding: 5px;" ><input style="font-size: 12px;" id="update" type="Submit" value="Update" /></td></tr>

</table>

</form>
{% endifnotequal %}
<table class="actions_table">
<tr><th class="table_top_header" colspan=3 style="text-align: center;">VM Actions</th></tr>
<tr>
	<td id="actions_container">&nbsp;</td>
		<!-- Here a setTimeout jquery script populates the instance control every 5 seconds -->
</tr>
</table>
</div>





{% endblock %}
