<script type="text/javascript">
var fqdnRegex = new RegExp("^[a-z0-9-_]+(\\.[a-z0-9-_]+)*\\.([a-z]{2,4})$");
	$(function(){
		$( "#start" )
		.button({
			icons: {
				secondary: "ui-icon-play"
			}
		});
			
		$( "#shutdown" )
		.button({
			icons: {
				secondary: "ui-icon-power"
			}
		});
			
		$( "#reboot" )
		.button({
			icons: {
				secondary: "ui-icon-arrowrefresh-1-s"
			}
		});

			
		$( "#console" )
		.button({
			icons: {
				secondary: "ui-icon-image"
			}
		});
		$( "#update" )
		.button({
			icons: {
				secondary: "ui-icon-check"
			}
		});
		
	$( "#start" )
	.click(function() {
		clearTimeout(polltimer);
		$.ajax({
        type: 'POST',
        url: "{% url instance-startup cluster.slug instance.name %}",
        dataType: 'json',
        success: function(data) {
			$("#actions_container_inner").empty();
			$("#actions_container_inner").html("<div class='span4'>"+data.action+"</div>");
			setTimeout(load_data, 0);

        }
    });	 
		return false; });
		
	$( "#shutdown" )
	.click(function() {
		clearTimeout(polltimer);
		$.ajax({
        type: 'POST',
        url: "{% url instance-shutdown cluster.slug instance.name %}",
        dataType: 'json',
        success: function(data) {
			$("#actions_container_inner").empty();
			$("#actions_container_inner").html("<div class='span4'>"+data.action+"</div>");
			setTimeout(load_data, 0);
			
        }
    });	 
		return false; });
	
	{% if not instance.pending_reinstall %}
		$( "#reinstall" )
		.click(function() {
			clearTimeout(polltimer);
			$( "#instreinst" ).modal('show');
			return false; });
		
		
		$( "#reinstallapplybutton" )
		.click(function() {
			clearTimeout(polltimer);
			$.ajax({
	        type: 'POST',
	        url: "{% url instance-reinstall-destroy cluster.slug instance.name 1 %}",
	        dataType: 'json',
	        success: function(data) {
	        	$( "#instreinstbody" ).html("<div class='span4 alert alert-success'>"+data.action+"</div>")
	        }
	    });	 
			return false; });
	{% endif %}
	
	{% if not instance.pending_destroy %}
	$( "#destroy" )
	.click(function() {
		clearTimeout(polltimer);
		$( "#instdest" ).modal('show');
		return false; });
	
	
	$( "#destroyapplybutton" )
	.click(function() {
		clearTimeout(polltimer);
		$.ajax({
        type: 'POST',
        url: "{% url instance-reinstall-destroy cluster.slug instance.name 2 %}",
        dataType: 'json',
        success: function(data) {
        	$( "#instdestbody" ).html("<div class='span4 alert alert-success'>"+data.action+"</div>")
        }
    });	 
		return false; });
	
	
	{% endif %}


	{% if not instance.pending_rename %}
	$( "#rename" )
	.click(function() {
		clearTimeout(polltimer);
		$( "#instrenbody" ).html( "" );
		$( "#instrenbody" ).load("{% url instance-rename cluster.slug instance.name 3 %}");
		$( "#instren" ).modal('show');
		return false; });

	{% endif %}
	
	$( "#reboot" )
	.click(function() {
		clearTimeout(polltimer);
		$.ajax({
        type: 'POST',
        url: "{% url instance-reboot cluster.slug instance.name %}",
        dataType: 'json',
        success: function(data) {
			$("#actions_container_inner").empty();
			$("#actions_container_inner").html("<div class='span4'>"+data.action+"</div>");
			setTimeout(load_data, 0);

        }
    });	 
		return false; });	
			
});

</script>
{% load i18n %}
{% if not instance.is_locked %}
	{% if instance.oper_state %}
		<div id="actions_container_inner" class="row-fluid" style="text-align:center;">
			<div class="span12">
			<div class="span6">
			<div class="row-fluid"><div class="span12"><a class="btn btn-danger btn-small btn-fixed" id="shutdown" href="#"><i class="icon-off"></i> {% trans "Shutdown" %}</a></div></div>
			<div class="row-fluid"><div class="span12"><a class="btn btn-warning  btn-small btn-fixed" id="reboot" href="#"><i class='icon-refresh'></i> {% trans "Reboot" %}</a></div></div>
			<div class="row-fluid"><div class="span12"><a class="btn btn-inverse  btn-small btn-fixed" id="console" href="{% url instance-vnc cluster.slug instance.name %}"><i class='icon-terminal'></i> {% trans "Console" %}</a></div></div>
			</div>
			<div class="span6">
			<div class="row-fluid"><div class="span12"><a class="btn btn-small btn-fixed btn-info {% if instance.pending_rename %}disabled{% endif %}" id="rename" href="#"><i class="icon-font"></i> {% trans "Rename..." %}</a></div></div>
			<div class="row-fluid"><div class="span12"><a class="btn  btn-small btn-fixed btn-danger {% if instance.pending_reinstall %}disabled{% endif %}" id="reinstall" href="#"><i class='icon-cloud-download'></i> {% trans "Reinstall..." %}</a></div></div>
			<div class="row-fluid"><div class="span12"><a class="btn  btn-small btn-fixed btn-danger {% if instance.pending_destroy %}disabled{% endif %}" id="destroy" href="#"><i class='icon-trash'></i> {% trans "Destroy..." %}</a></div></div>
			</div>
			</div>
		</div>
	{% else %}
		<div id="actions_container_inner" class="row-fluid" style="text-align:center;">
		<div class="span12">
			<div class="span6">
			<div class="row-fluid"><div class="span12"><a class="btn btn btn-success btn-small btn-fixed " id="start" href="#"><i class="icon-play"></i> {% trans "Start" %}</a></div></div>
			<div class="row-fluid"><div class="span12"><a class="btn btn-warning btn-small btn-fixed " id="reboot" href="#"><i class='icon-refresh'></i> {% trans "Reboot" %}</a></div></div>
			</div>
			<div class="span6">
			<div class="row-fluid"><div class="span12"><a class="btn btn-fixed btn-info btn-small {% if instance.pending_rename %}disabled{% endif %}" id="rename" href="#"><i class="icon-font"></i> {% trans "Rename..." %}</a></div></div>
			<div class="row-fluid"><div class="span12"><a class="btn btn-fixed btn-small btn-danger {% if instance.pending_reinstall %}disabled{% endif %}" id="reinstall" href="#"><i class='icon-cloud-download'></i> {% trans "Reinstall..." %}</a></div></div>
			<div class="row-fluid"><div class="span12"><a class="btn btn-fixed btn-small btn-danger {% if instance.pending_destroy %}disabled{% endif %}" id="destroy" href="#"><i class='icon-trash'></i> {% trans "Destroy..." %}</a></div></div>
			</div>
			</div>
		</div>
		
	{% endif %}
{% else %}
	<div id="actions_container_inner" class="row-fluid">
		<div class="span4" id="show_no_actions"><em>{{ instance.is_locked|capfirst }}</em></div>
	</div>
{% endif %}

<div id="instance_status" style="display:none;">{{ instance.oper_state|yesno:"Running,Stopped" }}</div>

<div class="modal hide fade" id="instreinst" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3>{% trans "Reinstall Instance" %}: {{instance}}</h3>
</div>
<div class="modal-body" id="instreinstbody">
<div class="alert alert-error">
<h4>{% trans "Warning!" %}</h4>
{% blocktrans %}You are about to initiate the process of your instance <strong>{{instance}}</strong> re-installation.
<br>This process <strong>wipes all your data</strong> and re-installs your instance from scratch. You will lose all your data.
<br>Your instance will not be reinstalled yet, though.<br>
You will receive an email with an activation link. Only when you visit the activation link, your instance will be reinstalled.
{% endblocktrans %}
</div>
<br>
<div>
<a href="#" id="reinstallapplybutton" value="Save" class="btn btn-danger">{% trans "Email link" %}</a>
</div>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
</div>
</div>

<div class="modal hide fade" id="instdest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3>{% trans "Destroy Instance" %}: {{instance}}</h3>
</div>
<div class="modal-body" id="instdestbody">
<div class="alert alert-error">
<h4>{% trans "Warning!" %}</h4>
{% blocktrans %}You are about to initiate the process of your instance <strong>{{instance}}</strong> removal.
This process will <strong>destroy your instance</strong>. You will lose all your data.
<br>Your instance will not be destroyed yet, though.<br>
You will receive an email with an activation link. Only when you visit the activation link, your instance will be destroyed.
{% endblocktrans %}
</div>
<br>
<div>
<a href="#" id="destroyapplybutton" value="Save" class="btn btn-danger">{% trans "Email link" %}</a>
</div>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
</div>
</div>

<div class="modal hide fade" id="instren" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3>{% trans "Rename Instance" %}: {{instance}}</h3>
</div>
<div class="modal-body" id="instrenbody">

<br>
<div>
<a href="#" id="renameapplybutton" value="Save" class="btn btn-danger">{% trans "Apply" %}</a>
</div>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
</div>
</div>