<script type="text/javascript">
	$(function(){
//		$('a', ".instances_table").button();
		$( "#start" ).button({
			icons: {
				secondary: "ui-icon-play"
			}
		});
		$( "#shutdown" ).button({
			icons: {
				secondary: "ui-icon-power"
			}
		});
		$( "#reboot" ).button({
			icons: {
				secondary: "ui-icon-arrowrefresh-1-s"
			}
		});
		$( "#console" ).button({
			icons: {
				secondary: "ui-icon-image"
			}
		});
		$( "#update" ).button({
			icons: {
				secondary: "ui-icon-check"
			}
		});		
			
});
</script>

<table>
<tr id="actions_container_inner">
	{% if instance.oper_state %}
	{% if instance.admin_state %}
	<td><a id="shutdown" href="{% url instance-shutdown cluster.slug instance.name %}">Shutdown</a></td>
<td><a id="reboot" href="{% url instance-reboot cluster.slug instance.name %}">Reboot</a></td>
<td><a id="console" href="{% url instance-vnc cluster.slug instance.name %}">Console</a></td>
	{% else %} 
	<td><em>Instance is shutting down, no actions allowed</em></td>
	{% endif %}
{% else %}
<td colspan=3><a id="start" href="{% url instance-startup cluster.slug instance.name %}">Start</a></td>
{% endif %}
</tr>
</table>