{% extends "m_base.html" %}
{% load truncatedchars %}
{% block headerextras %}
<a href="{% url cluster_detail cluster.slug %}" data-icon="arrow-l">{{ cluster.hostname|truncchar:10 }}</a>
{% endblock %}

{% block content %}

<h3>{{ instance.name }}</h3>
<div class="ui-grid-a">
	{% if instance.oper_state %}
	{% if instance.admin_state %}

<div class="ui-block-a"><a data-role="button" href="{% url instance-reboot cluster.slug instance.name %}">Reboot</a></div>
	<div class="ui-block-b"><a data-role="button" href="{% url instance-shutdown cluster.slug instance.name %}" data-theme="a">Shutdown</a></div>
	{% else %} 
	<em>Instance is shutting down, no actions allowed</em>
	{% endif %}
{% else %}
<a data-role="button" href="{% url instance-startup cluster.slug instance.name %}">Start</a>
{% endif %}

</div><!-- /grid-a -->

<!--<div id="configuration">
{% ifnotequal instance.oper_state instance.admin_state %}
<em>No configuration allowed at this time</em>
{% else %}
<form method="post" align="center">
    {% csrf_token %}
    {% for field in configform %}
        <div data-role="fieldcontain">
           {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}

		<div class="ui-body ui-body-b">
		<fieldset class="ui-grid-a">
				<div class="ui-block-a"><button type="submit" data-theme="d">Cancel</button></div>
				<div class="ui-block-b"><button type="submit" data-theme="a">Submit</button></div>

	    </fieldset>
		</div>


</form>
{% endifnotequal %}
</div>-->


{% endblock %}
