{% extends "theme/base.html" %}
{% load i18n %}
{% block applicationstop %}class="active"{% endblock %}
{% block applications %}class="active"{% endblock %}
{% block title %}{% trans "Review application" %} #{{ application.pk }}{% endblock %}

{% block crumbs %}
	    			<li><a href="{% url user-instances %}">{% trans "Home" %}</a><span class="divider">/</span></li>
	    			<li><a href="{% url application-list %}">{% trans "Instance Applications" %}</a><span class="divider">/</span></li>
	    			<li class="active">#{{ application.pk }}: {{ application.hostname }}</li>
	    		{% endblock %}

{% block content %}
<style type="text/css">
.comments {
	font-style: italic;
	max-width: 40em;
}
.notice {
	text-align: center;
	font-style: italic;
}

#review {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

label.required { font-weight: bold; }

.padcontrol{
	padding-top: 5px;
}

textarea{
	width: 100%;
}
</style>
<script>
	function set_network(net){
		$("#id_network").val(net);
	}
</script>


<div class="span8 main-content">

	<div class="row-fluid">
		<div class="row-fluid">
			<h2>{% trans "Review application" %} #{{ application.pk }} {% trans "by" %} {{ application.applicant }}</h2>


<p>{% trans "Submitted" %} {{ application.filed|date }}</p>
{% if application.is_pending %}
		<form method="POST" id="appform" class="form-inline">
		{% csrf_token %}
		<div class="row-fluid"><div class="span6">
		<fieldset>
                <legend>
                    {% trans "Instance information" %}
                </legend>
                  <div class="control-group {% if appform.hostname.errors %}error{% endif %}">
	                <label class="control-label {% if appform.hostname.field.required %}required{% endif %}" for="id_applier">
	                	{{ appform.hostname.label }}
	                </label>
                   <div class="controls">{{ appform.hostname }}
                    {% if appform.hostname.errors %}
                    <span class="help-inline" style="clear:both;">
                        {{ appform.hostname.errors|join:", " }}
                    </span>
                    {% endif %}
                    </div>
                </div>
                
                <div class="control-group {% if appform.memory.errors %}error{% endif %}">
	                <label class="control-label {% if appform.memory.field.required %}required{% endif %}" for="id_applier">{{ appform.memory.label }}</label>
                   <div class="controls">{{ appform.memory }}
                    {% if appform.memory.errors %}
                    <span class="help-inline" style="clear:both;">
                        {{ appform.memory.errors|join:", " }}
                    </span>
                    {% endif %}
                    </div>
                </div>
                
                <div class="control-group {% if appform.vcpus.errors %}error{% endif %}">
	                <label class="control-label {% if appform.vcpus.field.required %}required{% endif %}" for="id_applier">{{ appform.vcpus.label }}</label>
                   <div class="controls">{{ appform.vcpus }}
                    {% if appform.vcpus.errors %}
                    <span class="help-inline" style="clear:both;">
                        {{ appform.vcpus.errors|join:", " }}
                    </span>
                    {% endif %}
                    </div>
                </div>
                
                <div class="control-group {% if appform.disk_size.errors %}error{% endif %}">
	                <label class="control-label {% if appform.disk_size.field.required %}required{% endif %}" for="id_applier">{{ appform.disk_size.label }}</label>
                   <div class="controls">{{ appform.disk_size }}
                    {% if appform.disk_size.errors %}
                    <span class="help-inline" style="clear:both;">
                        {{ appform.disk_size.errors|join:", " }}
                    </span>
                    {% endif %}
                    </div>
                </div>
                
                <div class="control-group {% if appform.organization.errors %}error{% endif %}">
	                <label class="control-label {% if appform.organization.field.required %}required{% endif %}" for="id_applier">{{ appform.organization.label }}</label>
                   <div class="controls">{{ appform.organization }}
                    {% if appform.organization.errors %}
                    <span class="help-inline" style="clear:both;">
                        {{ appform.organization.errors|join:", " }}
                    </span>
                    {% endif %}
                    </div>
                </div>
                
                <div class="control-group {% if appform.hosts_mail_server.errors %}error{% endif %}">
	                <label class="control-label {% if appform.hosts_mail_server.field.required %}required{% endif %}" for="id_applier">{{ appform.hosts_mail_server.label }}</label>
                   <div class="controls">{{ appform.hosts_mail_server }}
                    {% if appform.hosts_mail_server.errors %}
                    <span class="help-inline" style="clear:both;">
                        {{ appform.hosts_mail_server.errors|join:", " }}
                    </span>
                    {% endif %}
                    </div>
                </div>
                
                <div class="control-group {% if appform.operating_system.errors %}error{% endif %}">
	                <label class="control-label {% if appform.operating_system.field.required %}required{% endif %}" for="id_applier">{{ appform.operating_system.label }}</label>
                   <div class="controls">{{ appform.operating_system }}
                    {% if appform.operating_system.errors %}
                    <span class="help-inline" style="clear:both;">
                        {{ appform.operating_system.errors|join:", " }}
                    </span>
                    {% endif %}
                    </div>
                </div>                
                </fieldset>
			</div>
			<div class="span6">
				{% if application.admin_contact_name %}
				<fieldset>
				<legend>{% trans "Administrative contact" %}</legend>
				<address>
					<i class="icon-user"></i> <strong>{{ application.admin_contact_name }}</strong><br>
					<i class="icon-envelope-alt"></i> <a href="mailto:{{ application.admin_contact_email }}">{{ application.admin_contact_email }}</a><br>
					<i class="icon-phone"></i> {{ application.admin_contact_phone }}
				</address>				
				
				</fieldset>
				{% endif %}

				<fieldset>
				<legend>{% trans "Comments" %}</legend>
				<div class="alert alert-info">
				<i class="icon-pencil"></i> {{ application.comments }}
				</div>
				</fieldset>

				<fieldset>
					<legend>{% trans "Placement" %}</legend>
					{% if application.network %}
					<div class="notice">
					{% trans "The user has requested explicit network placement on" %} {{ application.network }} ({{ application.network.cluster.description }})
					</div>
					{% endif %}
					
					<p>{% trans "Choose either a network, or a cluster from the quick list to use the cluster's default network." %}</p>
					
					
					<div class="control-group {% if appform.network.errors %}error{% endif %}">
		                <label class="control-label {% if appform.network.field.required %}required{% endif %}" for="id_applier">{{ appform.network.label }}</label>
	                    <div class="controls">{{ appform.network }}
	                    {% if appform.network.errors %}
	                    <span class="help-inline" style="clear:both;">
	                        {{ appform.network.errors|join:", " }}
	                    </span>
	                    {% endif %}
	                    </div>
                	</div>
					<p>{% for cl in fast_clusters %}<a href="#" onclick="set_network('{{ cl.get_default_network.pk }}');">{{ cl.description }} ({{ cl.slug }})</a> {% if not forloop.last %}| {% endif %}{% endfor %}</p>
				</fieldset></div></div>
<div class="row-fluid">
<fieldset>
<legend>{% trans "Decision" %}</legend>

<div class="control-group {% if appform.admin_comments.errors %}error{% endif %}">
		                <label class="control-label {% if appform.admin_comments.field.required %}required{% endif %}" for="id_applier">{% trans "Comments to the user" %}</label>
	                    <div class="controls">{{ appform.admin_comments }}
	                    {% if appform.admin_comments.errors %}
	                    <span class="help-inline" style="clear:both; color: #B94A48;">
	                        {{ appform.admin_comments.errors|join:", " }}
	                    </span>
	                    {% endif %}
	                    </div>
                	</div>
</fieldset>

<div class="control-group">
			<div class="controls">
			<input type="submit" value="Accept" class="btn btn-success" name="accept"/> <input type="submit" value="Reject" class="btn btn-danger" name="reject"/>
			</div>
			</div>
</div>
</form>

{% else %}
	
	<form class="form-inline">
	<div class="row-fluid"><div class="span6">
		<fieldset>
		
		<legend>
                    {% trans "Instance information" %}
                </legend>
                
                <div class="control-group">
	                <label class="control-label required" for="id_applier">
	                	Status
	                </label>
                   <div class="controls padcontrol">{{ application.get_status_display }}
                   
                    </div>
                </div>
                  <div class="control-group">
	                <label class="control-label required" for="id_applier">
	                	{{ appform.hostname.label }}
	                </label>
                   <div class="controls padcontrol">{% if application.cluster.slug %}<a href="{% url instance-detail cluster_slug=application.cluster.slug instance=application.hostname %}">{{ application.hostname }}</a>{% else %}{{ application.hostname }}{% endif %}
                   
                    </div>
                </div>
                
                <div class="control-group">
	                <label class="control-label required" for="id_applier">{{ appform.memory.label }}</label>
                   <div class="controls padcontrol">{{ application.memory }}
                   
                    </div>
                </div>
                
                <div class="control-group ">
	                <label class="control-label required" for="id_applier">{{ appform.vcpus.label }}</label>
                   <div class="controls padcontrol">{{ application.vcpus }}
                    
                    </div>
                </div>
                
                <div class="control-group">
	                <label class="control-label required" for="id_applier">{{ appform.disk_size.label }}</label>
                   <div class="controls padcontrol">{{ application.disk_size }}
                  
                    </div>
                </div>
                
                <div class="control-group">
	                <label class="control-label required" for="id_applier">{{ appform.organization.label }}</label>
                   <div class="controls padcontrol">{{ application.organization }}
                   
                    </div>
                </div>
                
                <div class="control-group ">
	                <label class="control-label required" for="id_applier">{{ appform.hosts_mail_server.label }}</label>
                   <div class="controls padcontrol">{{ application.hosts_mail_server }}

                    </div>
                </div>
                
                <div class="control-group ">
	                <label class="control-label required" for="id_applier">{{ appform.operating_system.label }}</label>
                   <div class="controls padcontrol">{{ application.operating_system }}
                    
                    </div>
                </div>
		
		</fieldset>
		</div>
			<div class="span6">
		
		{% if application.admin_contact_name %}
		<fieldset>
			<legend>{% trans "Administrative contact" %}</legend>
			<address>
				<i class="icon-user"></i> <strong>{{ application.admin_contact_name }}</strong><br>
				<i class="icon-envelope-alt"></i> <a href="mailto:{{ application.admin_contact_email }}">{{ application.admin_contact_email }}</a><br>
				<i class="icon-phone"></i> {{ application.admin_contact_phone }}
			</address>				
				
		</fieldset>
		{% endif %}
		
		<fieldset>
				<legend>{% trans "Comments" %}</legend>
				<div class="alert alert-info">
				<i class="icon-pencil"></i> {{ application.comments }}
				</div>
		</fieldset>
		
		
		<fieldset>
				<legend>{% trans "Placement" %}</legend>
				<div class="alert alert-success">
				<i class="icon-sitemap"></i> {% trans "The instance has been placed on" %} {{ application.network }} ({{ application.cluster.description }})
				</div>
		</fieldset>
		</div></div>

		
	</form>
{% endif %}

</div>
</div>
</div>
{% if applications %}
<div class="span3 sidebar">
    <div class="widget">
        <h2><i class="icon-inbox"></i>  {% trans "Pending Instance Applications" %}</h2>
        <ul class="cards">
        	{% for appl in applications %}
            <li>
                <p class="title"><a href="{% url application-review appl.pk %}"><i class="icon-laptop"></i> {{appl.hostname}}</a></p>
                <p class="info small"><i class="icon-calendar"></i> {{appl.filed|date }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}
