{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}
<script type="text/javascript" src="/static/js/jquery.dataTables.js"></script>
<script type="text/javascript">
	$(document).ready( function(){
			$('#vm_instance_table').dataTable( {
			"bJQueryUI": true,
			"oLanguage": {
				"sLengthMenu": '{% trans "Display" %} <select><option value="25">25</option><option value="50">50</option><option value="-1">{% trans "All" %}</option></select> instances'
			},
			"iDisplayLength": 25,
	} );
		});
</script>
{% endblock %}
{% block title %}{% trans "My instances" %}{% endblock %}
{% block content %}
<h3>{% trans "My instances" %}</h3>

<table class="display" width="100%" id="vm_instance_table">
<thead>
<tr><th>{% trans "Name" %}</th><th>{% trans "Cluster" %}</th>
<th style="text-align: center;">{% trans "Memory" %}</th><th style="text-align: center;">CPUs</th><th style="text-align: center;">{% trans "IP address" %}</th><th style="text-align: center;">{% trans "Status" %}</th></tr>
</thead>
<tbody>
{% load disksizes %}
{% for instance in instances %}

<tr {% if instance.admin_state %} class="GradeA" {% else %} class="GradeX" {% endif %}><td><a href="{% url instance-detail instance.cluster.slug instance.name %}">{{ instance.name }}</a></td>
<td>{{ instance.cluster.description }}</td><td style="text-align: center;">{{ instance.beparams.memory|memsize }}</td><td style="text-align: center;">{{ instance.beparams.vcpus }}</td><td style="text-align: center;">{{ instance.nic_ips.0|default:"&mdash;" }}</td>
<td style="text-align: center;">{% ifequal instance.admin_state instance.oper_state %}
{{ instance.admin_state|yesno:"Running,Stopped" }}
{% else %}
{{ instance.oper_state|yesno:"Running,Stopped" }}, should be {{ instance.admin_state|yesno:"running,stopped" }}
{% endifequal %}
</td></tr>

{% endfor %}
</tbody>
</table>

{% endblock %}
