{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ instance.name }} - {% trans "Console" %}{% endblock %}
{% block breadcrumbs %}:: <a href="{% url instance-detail cluster.slug instance %}">{{ instance.name }}</a> :: VNC</p>{% endblock %}

{% block content %}

<h3>{% trans "VNC session on" %} {{ instance }}</h3>
<applet archive="/static/javavnc/VncViewer.jar" code="VncViewer.class" width="99%" height="790px" align="middle">
<param name="PORT" value="{{ port }}">
<param name="PASSWORD" value="{{ password }}">
<!--
<param name="Open new window" value="yes">
<param name="Scaling factor" value="auto">
-->
</applet>

{% endblock %}
