{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load applicationstatus %}

{% block title %}{% trans "Application list" %}{% endblock %}

{% block extrahead %}
<style>
	.dropdown-menu.instanceopt{
		right: 0px;
		left: auto;
	}
</style>
{% endblock %}

{% block applicationstop %}class="active"{% endblock %}

{% block applications %}class="active"{% endblock %}

{% block crumbs %}
	<li><a href="{% url 'user-instances' %}">{% trans "Home" %}</a><span class="divider">/</span></li>
	<li class="active">{% trans "Instance Applications" %}</li>
{% endblock %}

{% block content %}
<div class="span9 main-content">
	<div class="row-fluid">
		<div class="row-fluid">
			{% if not pending and not completed %}
				{% trans "No applications yet." %} <i class="fa fa-meh-o"></i>
			{% endif %}
			{% if pending %}
			<h2>{% trans "Pending applications" %}</h2>
			<div class="pending-filters">
				<button class="btn btn-success show-approved" data-toggle="approved">{% trans "Show Approved" %}</button>
				<button class="btn btn-danger show-failed" data-toggle="failed">{% trans "Show Failed" %}</button>
			</div>
			<table class="table table-first-column-number data-table display full" id="pending_instance_table">
				<thead>
					<tr>
						<th>{% trans "Hostname" %} <span class="sort-icon"><span></span></span></th>
						<th>{% trans "User" %} <span class="sort-icon"><span></span></span></th>
						<th>{% trans "Memory" %} <span class="sort-icon"><span></span></span></th>
						<th>{% trans "vCPUs" %} <span class="sort-icon"><span></span></span></th>
						<th>{% trans "Network" %} <span class="sort-icon"><span></span></span></th>
						<th>{% trans "Status" %} <span class="sort-icon"><span></span></span></th>
						<th>{% trans "Filed" %} <span class="sort-icon"><span></span></span></th>
					</tr>
			</thead>
			<tbody>
				{% for app in pending %}
				<tr class="{{ app.get_status_display }}">
					<td>{% if perms.apply.change_instanceapplication %}<a href="{% url 'application-review' app.pk %}">{{ app.hostname }}</a>{% else %}{{ app.hostname }}{% endif %}</td>
					<td>{{ app.applicant }}</td><td>{{ app.memory }}</td><td>{{ app.vcpus }}</td>
					<td>{{ app.instance_params.network|default_if_none:"&mdash;" }}</td>
					<td><span class="label label-{{ app.get_status_display|appstatus }}">{{ app.get_status_display }}</span></td>
					<td><span style="display:none">{{ app.filed|date:"U" }}</span>{{ app.filed }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		{% endif %}
{% if completed %}
 <h2>{% trans "Completed applications" %}</h2>
<table class="table table-first-column-number data-table display full" id="completed_instance_table">
<thead>
<tr>
	<th>{% trans "Hostname" %} <span class="sort-icon"><span></span></span></th>
	<th>{% trans "User" %} <span class="sort-icon"><span></span></span></th>
	<th>{% trans "Memory" %} <span class="sort-icon"><span></span></span></th>
	<th>{% trans "vCPUs" %} <span class="sort-icon"><span></span></span></th>
	<th>{% trans "Network" %} <span class="sort-icon"><span></span></span></th>
	<th>{% trans "Status" %} <span class="sort-icon"><span></span></span></th>
	<th>{% trans "Filed" %} <span class="sort-icon"><span></span></span></th>
</tr>

</thead>

<tbody>
{% for app in completed %}
<tr>
	<td>{% if perms.apply.change_instanceapplication %}<a href="{% url 'application-review' app.pk %}">{{ app.hostname }}</a>{% else %}{{ app.hostname }}{% endif %}</td>
	<td>{{ app.applicant }}</td>
	<td>{{ app.memory }}</td>
	<td>{{ app.vcpus }}</td>
	<td>{{ app.instance_params.network|default_if_none:"&mdash;" }}</td>
	<td>{{ app.get_status_display }}</td>
	<td><span style="display:none">{{ app.filed|date:"U" }}</span>{{ app.filed }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

</div>
</div>
</div>
{% endblock %}

{% block postfooter %}

<script type="text/javascript" src="{% static 'ganetimgr/js/includes/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ganetimgr/js/includes/jquery.dataTables.bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'ganetimgr/js/jquery_csrf_protect.js' %}"></script>
<script type="text/javascript">
	$(document).ready( function(){
		{% if pending %}
		var oTable1 = $('#pending_instance_table').dataTable( {
			"bPaginate": true,
			"bLengthChange": true,
			"bFilter": true,
			"bSort": true,
			"bDeferRender": true,
			"bInfo": true,
			"bAutoWidth": true,
			"oLanguage": {
				"sLengthMenu": '{% trans "Display" %} <select><option value="25">25</option><option value="50">50</option><option value="-1">{% trans "All" %}</option></select> {% trans "applications" %}'
			},
			"sPaginationType": "bootstrap",
			"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
			"sPaginationType": "bootstrap",
			"iDisplayLength": 25,
		});
		oTable1.fnDraw();
		{% endif %}
		{% if completed %}
		var oTable2 = $('#completed_instance_table').dataTable( {
			"bPaginate": true,
			"bLengthChange": true,
			"bFilter": true,
			"bSort": true,
			"bDeferRender": true,
			"bInfo": true,
			"bAutoWidth": true,
			"oLanguage": {
				"sLengthMenu": '{% trans "Display" %} <select><option value="25">25</option><option value="50">50</option><option value="-1">{% trans "All" %}</option></select> {% trans "applications" %}'
			},
			"sPaginationType": "bootstrap",
			"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
			"sPaginationType": "bootstrap",
			"iDisplayLength": 25,
		} );
		oTable2.fnDraw();
		{% endif %}

		// show approved and failed
		var filters = $('.pending-filters .btn');
		$('tr.approved, tr.failed').css({'display': 'none'});
		filters.on('click', function () {
			if ($(this).hasClass('active')) {
				$(this).removeClass('active');
				$('#pending_instance_table').find('tr.' + $(this).data('toggle')).css({'display': 'none'});
			} else {
				$(this).addClass('active');
				$('#pending_instance_table').find('tr.' + $(this).data('toggle')).css({'display': 'table-row'});
			}
		});
	});
</script>
{% endblock %}
