{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}
{% load staticfiles %}

<style>
    .dropdown-menu.instanceopt{
    	right: 0px;
    	left: auto;
    	text-align: left !important;
    }

    .alignCenter{
    	text-align: center !important;
    }
    .alignLeft{
    	text-align: left !important;
    }
    .alignRight{
    	text-align: right !important;
    }
    .visoverflow{
    	overflow: visible;
    }
</style>
<link rel="stylesheet" href="{% static 'ganetimgr/css/includes/select2.css' %}">
{% endblock %}
{% block title %}{% if user.is_superuser or perms.ganeti.view_instances %}{% trans "Audit Log" %}{% else %}{% trans "History" %}{% endif %}{% endblock %}
{% block auditlog %}class="active"{% endblock %}
{% block crumbs %}
    <li><a href="{% url 'user-instances' %}">{% trans "Home" %}</a><span class="divider">/</span></li>
    <li class="active">{% if user.is_superuser or perms.ganeti.view_instances %}{% trans "Audit Log" %}{% else %}{% trans "History" %}{% endif %}</li>
{% endblock %}

{% block content %}
<div class="span12 main-content">
    <div class="row-fluid">
        <div class="row-fluid">
            <h2>{% if user.is_superuser or perms.ganeti.view_instances %}{% trans "Audit Log" %}{% else %}{% trans "History" %}{% endif %}</h2>
            {% if request.user.is_superuser and days %}
            <span class="label label-warning">{% trans "Showing results for the last" %} {{ days }} {% trans "days." %}</span>
            {% endif %}
            <table class="table table-first-column-number data-table display full visoverflow" id="auditlog_table">
                <thead>
                    <tr>
                    	{% if user.is_superuser or perms.ganeti.view_instances %}
                    	<th style="text-align: center;">{% trans "Job Id" %} <span class="sort-icon"></span></th>
                    	<th style="text-align: center;">{% trans "Cluster" %} <span class="sort-icon"></span></th>
                    	{% endif %}
                    	<th style="text-align: center;">{% trans "Instance" %} <span class="sort-icon"></span></th>
                    	<th style="text-align: center;">{% trans "Action" %} <span class="sort-icon"></span></th>
                    	{% if user.is_superuser or perms.ganeti.view_instances %}
                    	<th style="text-align: center;">{% trans "User" %} <span class="sort-icon"></span></th>
                    	{% endif %}
                    	<th style="text-align: center;">{% trans "Time" %} <span class="sort-icon"></span></th>

                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% if user.is_superuser or perms.ganeti.view_instances %}
<div class="modal hide fade" id="instDets" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabelservdets">{% trans "Job Details" %}</h3>
    </div>
    <div class="modal-body" id="instDetsbody">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
    </div>
</div>
{% endif %}
{% endblock %}

{% block bottomblock %}
<script type="text/javascript" src="{% static 'ganetimgr/js/includes/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ganetimgr/js/includes/jquery.dataTables.bootstrap.js' %}"></script>
<script src="{% static 'ganetimgr/js/includes/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'ganetimgr/js/jquery_csrf_protect.js' %}"></script>
<script type="text/javascript">
    $(document).ready( function(){
    	var oTable = $('#auditlog_table').dataTable( {
    		"bPaginate": true,
    	    "bFilter": true,
    	    "bAutoWidth": true,
    	    "bStateSave": true,
    	    "oLanguage": {
    	    	"sLengthMenu": '{% trans "Display" %} <select><option value="20">20</option><option value="50">50</option><option value="-1">{% trans "All" %}</option></select> {% trans "logs" %}'
    	    },
    	    "sPaginationType": "bootstrap",
    	    "iDisplayLength": 20,
    	    {% if user.is_superuser or perms.ganeti.view_instances %}
    	    "sDom": "<'row-fluid'<'span4'l><'span4'<'#clusterph'>><'span4'f>ip>tr<'row-fluid'<'span6'i><'span6'p>>",
    	    "fnInitComplete": function(oSettings, json) {
                var seen_clusters = [];

            	var clustertoggle = $('<select id="clusterfilter" multiple></select>');
            	for (var i=0; i<json.aaData.length; i++) {
            		if (seen_clusters.indexOf(json.aaData[i].cluster) == -1){
            			clustertoggle.append('<option value="'+json.aaData[i].cluster+'">'+json.aaData[i].cluster+'</option>');
            			seen_clusters.push(json.aaData[i].cluster);
            		}
        			$("#clusterph").append(clustertoggle);
                }
                clustertoggle.select2({placeholder: "Select Clusters"});
              },
              {% else %}
              "sDom": "<'row-fluid'<'span6'l><'span6'f>ip>tr<'row-fluid'<'span6'i><'span6'p>>",
              {% endif %}
    		"bProcessing": true,
            "sAjaxSource": "{% url 'auditlog_json' %}",
            "bDeferRender": true,
            "aaSorting": [[ 5, "desc" ]],
            "aoColumns":[
            {% if user.is_superuser or perms.ganeti.view_instances %}
                         {"mData":"job_id", "sClass" : "alignCenter","bSearchable": true,"bSortable": true,
                         "mRender":  function (data, type, full, json) {
                                 var ret = '<a class="btn '

                                 if(full.is_authorized){
                                     ret += 'btn-info ';
                                 }
                                 else{
                                     ret += 'btn-danger ';
                                 }
                                 if(data == null){
                                  data = 'unauthorized'
                                 }
                                 ret += 'btn-small" href="#" onclick="javascript:showDetails(\''+full.cluster+'\',\''+data+'\'); return false;">'+data+'</a>';
                         return ret;
                         }},
                         {"mData":"cluster", "sClass" : "alignCenter","bSearchable": true,"bSortable": true},
                         {% endif %}
                         {"mData":"instance", "sClass" : "alignCenter","bSearchable": true,"bSortable": true,
                         "mRender": function (data, type, full) {
                        			 name = '<a href="'+full.name_href+'">'+data+'</a>';
                                 return name;
                        	 }
                         },
                         {"mData":"action", "sClass" : "alignCenter", "bSearchable": true,"bSortable": true},
                          {% if user.is_superuser or perms.ganeti.view_instances %}
                         {"mData":"user", "sClass" : "alignCenter", "bSearchable": true,"bSortable": true,
                         "mRender": function (data, type, full) {
                         	return '<a class="btn btn-small" href="'+full.user_href+'"><i class="fa fa-user"></i> '+data+'</a>';
                       	 }},
                       	 {% endif %}
                         {"mData":"last_upd", "sClass" : "alignCenter", "bSearchable": true,"bSortable": true},
        ]
    });
    $(window).resize(function() {
        clearTimeout(window.refresh_size);
        window.refresh_size = setTimeout(function() { update_size(); }, 250);
    });

    var update_size = function() {
        $(oTable).css({ width: $(oTable).parent().width() });
        oTable.fnAdjustColumnSizing();
     };
{% if user.is_superuser or perms.ganeti.view_instances %}
	$('body').on('change', '#clusterfilter', function(){
    	var cl_reg_exp_arr = $('#clusterfilter').val();
    	cl_reg_exp = '';
    	if (cl_reg_exp_arr){
	    	for (var i = 0, inp; inp = cl_reg_exp_arr[i]; i++) {
	    		cl_reg_exp = cl_reg_exp + inp + '|';
	    	}
	    }
        if (cl_reg_exp == '') {
            cl_reg_exp = '|';
        }
        oTable.fnFilter(cl_reg_exp.slice(0, -1), 1, true, false, false);
        return false;
    });
{% endif %}
});
{% if user.is_superuser or perms.ganeti.view_instances %}
	function showDetails(cluster, jobid){
		$( "#instDetsbody" ).html( "" );
		$( "#myModalLabelservdets" ).text('Job Details: '+jobid);
		$( "#instDetsbody" ).load("{% url 'jobdets-popup' %}/?cluster="+cluster+"&jobid="+jobid+"");
		$( "#instDets" ).modal('show');
		return false;
	}
	{% endif %}
</script>
{% endblock %}
