{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block navbars %}{% endblock %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block brcrmb_container %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'ganetimgr/js/includes/feedek.js' %}"></script>
<script type="text/javascript" src="{% static 'ganetimgr/js/includes/moment.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'ganetimgr/css/includes/feedek.css' %}">
<link rel="stylesheet" href="{% static 'ganetimgr/css/includes/resp-modal.css' %}">
<link rel="stylesheet" href="{% static 'ganetimgr/css/includes/img-on-top.css' %}">
<script>
	$(document).ready(function () {
		$('#divRss').FeedEk({
			FeedUrl: '{{FEED_URL}}',
			MaxCount: 5,
			DateFormat: 'DD MMMM YYYY',
			DateFormatLang: 'en'
		});

		$('#id_username').focus();

		// Register handlers for 'shown', 'hidden' events. These are triggered
		// when bootstrap 'data-toggle' elements are clicked.
		// The approach here starts or stops an already included iframe in the
		// html code. This was chosen as it is way faster than actually loading
		// the player when the modal is shown

		$("#video-modal").on('shown', function(){
    		$('#yt-player')[0].contentWindow.postMessage(
    			'{"event":"command","func":"playVideo","args":""}', '*');
    		this.toggle();
		});
		$("#video-modal").on('hidden', function(){
			$('#yt-player')[0].contentWindow.postMessage(
				'{"event":"command","func":"stopVideo","args":""}', '*');
			this.toggle();
		});
	});
</script>
{% endblock %}

{% block blockcontainer %}
    <div class="logincontent">
        <div class="container-fluid">
        	<div class="row-fluid">
				<div class="span12">
					<div class="row-fluid">
					{% if messages %}
				        {% for message in messages %}
				        <div {% if message.tags %} style="margin-top: 20px;" class="alert alert-{{ message.tags|cut:'safe ' }}"{% endif %}>
				            <button class="close" data-dismiss="alert" type="button"> × </button>
				            {% if 'safe' in message.tags %}
				                {{ message|safe }}
				            {% else %}
				                {{ message }}
				            {% endif %}
				        </div>
				        {% endfor %}
				    {% endif %}
					{% if FEED_URL %}
						<div class="span1"></div>
					{% else %}
						<div class="span2"></div>
					{% endif %}
					{% if FEED_URL %}
						<div class="span3 sidebar">
							<div class="widget">
								<div class="row-fluid">
									<h2><i class="fa fa-bullhorn"></i> {% trans "Latest News" %}</h2>
									<div id="divRss"></div>
								</div>
							</div>
						</div>
					{% endif %}
						<div class="{% if FEED_URL %}span3{% else %}span4{% endif %} sidebar">
							<div class="widget">
								<div class="row-fluid">
									<h2><i class="fa fa-cloud"></i> {% trans "Welcome" %}</h2>
									<div id="change_name_placeholder" class="padwidget">
										{% blocktrans with name=BRANDING.SERVICE_PROVIDED_BY.NAME title=BRANDING.TITLE %}
											<p>Welcome to {{ name }}'s {{ title }} service.</p>
											<p>If you are new to the service, take some time to read the service description supplied at the hyperlink at the end of this page and then register for a new account.</p>
										{% endblocktrans %}
										{% blocktrans with name=BRANDING.SERVICE_PROVIDED_BY.NAME title=BRANDING.TITLE %}
											<p>If you already have an account, you can log in using the form on the right.</p>
											<p>For troubleshooting info and remarks do not hesitate to contact {{ name }}'s Helpdesk.</p>
										{% endblocktrans %}
										{% if BRANDING.VIDEO %}
											<div class="imgstack-container">
												<a><img id="modal-show" src="{% static 'ganetimgr/img/learnmore.png' %}" data-toggle="modal" data-target="#video-modal" ></a>
												<img src="{% static 'ganetimgr/img/video-crop.png' %}" style="">
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<div class="{% if FEED_URL %}span3{% else %}span4{% endif %} sidebar">
							<div class="widget">
								<div class="row-fluid">
									<h2><i class="fa fa-sign-in"></i> {% trans "Login" %}</h2>
									<div id="pass_change_placeholder" class="padwidget">
									{% if form.errors %}
										<p  class="error" style="color:red">{% trans "Your username and password didn't match. Please try again." %}</p>
									{% endif %}
									<form method="POST" class="form" action="{% url 'login' %}">
										<input type="hidden" name="next" value="{{ next }}" />
										{% csrf_token %}
					                	<div class="control-group {% if form.username.errors %}error{% endif %}">
					                   		<div class="controls">
						                   	{% render_field form.username class+="input-xlarge" style+="width:95%;" placeholder=form.username.label|capfirst  %}
						                    {% if form.username.errors %}
							                    <span class="help-inline" style="clear:both;">
							                        {{ form.username.errors|join:", " }}
							                    </span>
						                    {% endif %}
						                    </div>
					                	</div>
					                	<div class="control-group {% if form.password.errors %}error{% endif %}">
					                   	<div class="controls">
						                   	{% render_field form.password class+="input-xlarge" style+="width:95%;" placeholder=form.password.label|capfirst  %}
						                    {% if form.password.errors %}
						                    <span class="help-inline" style="clear:both;">
						                        {{ form.password.errors|join:", " }}
						                    </span>
						                    {% endif %}
						                    </div>
						                </div>
					                	<div class="control-group">
											<div class="controls">
												<input type="submit" class="btn" value="{% trans "Login" %}" />
												<input type="hidden" name="next" value="{{next}}" />
											</div>
										</div>
									</form>
								    <p><a href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a></p>
								    <p><a href="{% url 'registration_register' %}">{% trans "Register a new account" %}</a></p>
								</div>
							</div>
						</div>
					</div>
				{% if FEED_URL %}
					<div class="span1"></div>
				{% else %}
					<div class="span2"></div>
				{% endif %}
				</div>
			</div>
		</div>
	</div>
	

</div>
{% endblock %}
{% block video %}
{% if BRANDING.VIDEO %}
<div class="container">
	<div class="modal resp-modal fade" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:none">
		<div class="video-container">
			<iframe  id="yt-player" src="{{ BRANDING.VIDEO }}?enablejsapi=1&version=3" allowfullscreen></iframe>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}	
