{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extraticketinfo %} {% trans "about my profile" %}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'ganetimgr/css/includes/select2.css' %}">
<script src="{% static 'ganetimgr/js/includes/select2.js' %}"></script>

	<script>
		$(document).ready(function () {
			 $('#pass_change_placeholder').load("{% url 'pass_change' %}");
			// load ssh keys manager
			$('#manage_sshkeys_placeholder').load("{% url 'user-keys' %}");
			// change user mail
			$('#change_email_placeholder').load("{% url 'mail-change' %}");
			// change user full name
			$('#change_name_placeholder').load("{% url 'name-change' %}");
			$('#other_placeholder').load("{% url 'other-change' %}", function () {
            	$("#id_organization").select2({dropdownAutoWidth : true});
			 });
		});
	</script>
	<style>
		.padwidget{
			padding: 1em;
		}
		textarea{
			width: 60%;
		}
	</style>
{% endblock %}

{% block profile %}class="active"{% endblock %}

{% block crumbs %}
	<li><a href="{% url 'user-instances' %}">{% trans "Home" %}</a><span class="divider">/</span></li>
	<li class="active">{{user}} {% trans "profile" %}</li>
{% endblock %}

{% block title %}{% trans "My profile" %}{% endblock %}

{% block content %}
<h2>{% trans "My profile" %}</h2>
<div class="span10">
	<div class="row-fluid">
		<div class="span4 sidebar">
			<div class="widget">
				<div class="row-fluid">
					<h2><i class="fa fa-user"></i> {% trans "Change Name" %}</h2>
					<div id="change_name_placeholder"></div>
				</div>
			</div>
		</div>
		<div class="span4 sidebar">
			<div class="widget">
				<div class="row-fluid">
					<h2><i class="fa fa-certificate"></i> {% trans "Change Password" %}</h2>
					<div id="pass_change_placeholder"></div>
				</div>
			</div>
		</div>
		<div class="span4 sidebar">
			<div class="widget">
				<div class="row-fluid">
					<h2><i class="fa fa-envelope"></i> {% trans "Change Email" %}</h2>
					<div id="change_email_placeholder"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6 sidebar">
			<div class="widget">
				<div class="row-fluid">
					<h2><i class="fa fa-lock"></i> {% trans "Manage SSH Keys" %}</h2>
					<div id="manage_sshkeys_placeholder"></div>
				</div>
			</div>
		</div>
		<div class="span6 sidebar">
			<div class="widget">
				<div class="row-fluid">
					<h2><i class="fa fa-phone"></i> {% trans "Other" %}</h2>
					<div id="other_placeholder"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
