{% extends "base.html" %}
{% load i18n %}
{% block navbars %}{% endblock %}
{% block title %}{{ flatpage.title }}{% endblock %}
{% block brcrmb_container %}{% endblock %}
{% block extrahead %}
<script type="text/javascript">
function setlang(lang) {
	$("#langsel").val(lang);
	var form = $("#langform");
	$.ajax({
		url: form.attr('action'),
		data: form.serialize(),
		type: "POST",
		cache: false,
		success:function(data){
				window.location.href=location.href + "../" + lang + "/";
			}
	});
}
</script>
{% endblock %}
{% block blockcontainer %}
<div class="logincontent">
    <div class="container-fluid">
     <div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span2"></div>
				<div class="span8 sidebar">
					<div class="widget">
						<div class="row-fluid">
							<h2>
								<i class="icon-cloud"></i>
								{% trans flatpage.title %}
							</h2>
							<div id="change_name_placeholder" class="padwidget">
								{{ flatpage.content|linebreaks }}
							</div>
						</div>
					</div>
				</div>
				<div class="span2"></div>
			</div>
		</div>
	</div>
{% endblock %}
</div>
