{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Tags" %}{% endblock %}
{% block breadcrumbs %}:: {% trans "Instance Tags" %}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="/static/select2/select2.css">
<script src="/static/select2/select2.js"></script>
<link href="/static/awesome/css/font-awesome.min.css" rel="stylesheet">
<script>
$(document).ready(function() {
	$("#id_tags")
								.select2(
										{
											placeholder : "Tags from user, group",
											minimumInputLength : 2,
											multiple: true,
											ajax : { // instead of writing the function to execute the request we use Select2's convenient helper
												url : "{% url tagusergroups %}",
												dataType : 'json',
												data : function(term, page) {
													return {
														q : term,
													};
												},
												results : function(data, page) { // parse the results into the format expected by Select2.
													// since we are using custom formatting functions we do not need to alter remote JSON data
													return {
														results : data
													};
												}
											},
											formatResult : format, // omitted for brevity, see the source of this page
											formatSelection : format, // omitted for brevity, see the source of this page
											escapeMarkup: function(m) { return m; }
										});
	$("#id_tags").select2(
			"data", [{% for u in users %}{id: "{{u.id}}", text: formatDjangoObject("{{u.type}}")+ '{{u.text}}'},{% endfor %}]);
					});
function format(item) {
	if (item.type=="user"){
		return '<i class="icon-user"></i> ' + item.text;
	}
	else if (item.type=="group"){
		return '<i class="icon-group"></i> ' + item.text;
	}
	else if (item.type=="vm"){
		return '<i class="icon-laptop"></i> ' + item.text;
	}
	else if (item.type=="cluster"){
		return '<i class="icon-puzzle-piece"></i> ' + item.text;
	}
	else{
		return item.text;
	}
	}
	
function formatDjangoObject(type){
	if (type=="user"){
		return '<i class="icon-user"></i> ';
	}
	else if (type=="group"){
		return '<i class="icon-group"></i> ';
	}
	else return ''

}

</script>
{% endblock %}

{% block content %}
<style type="text/css">
th {
	text-align: right;
	padding-right: 0.5em;
	vertical-align: top;
}

.help {
	font-style: italic;

}
</style>

<div align="center">
<h3>{{instance}}:: {% trans "Tags" %}</h3>
<form method="POST" class="form-horizontal">
                                         <fieldset>
                                        {% csrf_token %}
                                        {% if form.non_field_errors %}
                                        <p class="error">
                                            {{ form.non_field_errors}}
                                        </p>
                                        {% endif %}
                                    <div class="control-group {% if form.tags.errors %} error {% endif %}">
                                            <label class="control-label">{% if form.tags.field.required %}<b>{% endif %}{{form.tags.label}}{% if form.tags.field.required %}</b>{% endif %}</label>
                                            <div class="controls">
                                                {{ form.tags }}
                                                {% if form.tags.errors %} <span class="help-inline"> {{ form.tags.errors|join:", " }} </span>
                                                {% endif %} <span class="help-block"> {{ form.tags.help_text }}</span>
                                            </div>
                                            </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <button type="submit" id="applybutton" value="Save" class="btn"/>
                                                Save</button>
                                            </div>
                                        </div>
                                        </fieldset>
                                    </form>

<input type='hidden' id='e1' style='width:300px' />

</div>
{% endblock %}
